.DAlert {
	--color-bg: var(--d-color-plate-bg);
	--color: var(--d-color-text-main);
	--padding-x: var(--d-gap-l);
	--padding-y: var(--d-gap-m);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	min-height: 40px;
	font-size: var(--d-font-size-m);
	padding: var(--padding-y) var(--padding-x);
	color: var(--color);
	border-radius: var(--d-radius-m);
	background-color: var(--d-color-light);

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 1;
		background-color: var(--color-bg);
		border-radius: var(--d-radius-m);
	}
}

.DAlert__aside {
	position: relative;
	z-index: 2;
	margin-right: var(--padding-x);
	flex: 0 0 auto;
}

.DAlert__content {
	position: relative;
	z-index: 2;
	flex: 1 1 100%;
}

.DAlert.--info,
.DAlert.--success,
.DAlert.--accent,
.DAlert.--danger {
	&:before {
		opacity: .08;
	}
}

.DAlert.--info {
	--color: var(--d-color-primary);
	--color-bg: var(--d-color-primary);
}

.DAlert.--success {
	--color: var(--d-color-success);
	--color-bg: var(--d-color-success);
}

.DAlert.--accent {
	--color: var(--d-color-accent);
	--color-bg: var(--d-color-accent);
}

.DAlert.--danger {
	--color: var(--d-color-danger);
	--color-bg: var(--d-color-danger);
}
