.DAvatar {
	--size: var(--d-size-s);
	--font-size: var(--d-font-size-m);
	--color: var(--d-color-text-main);
	--color-bg: var(--d-color-text-main);
	display: inline-block;
	vertical-align: middle;
	width: var(--size);
	height: var(--size);
	position: relative;
	border-radius: 50%;
	color: var(--color);
	font-size: var(--font-size);
	font-weight: var(--d-font-weight-bold);

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
	&:after,
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 50%;
	}

	&:before {
		//border: 2px solid var(--color);
		z-index: 2;
	}
	&:after {
		background-color: var(--color-bg);
		z-index: 1;
		opacity: .1;
	}

	svg {
		width: 60%;
		height: 60%;
	}
}

.DAvatar__content {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.DAvatar.--x-small {
	--size: var(--d-size-xxs);
	--font-size: calc(var(--d-font-size-xs) - 2px);
}

.DAvatar.--small {
	--size: var(--d-size-xs);
	--font-size: var(--d-font-size-xs);

	svg {
		width: 50%;
		height: 50%;
	}
}

.DAvatar.--large {
	--size: var(--d-size-l);
	--font-size: var(--d-font-size-xxl);
}

.DAvatar.--x-large {
	--size: var(--d-size-xl);
	--font-size: var(--d-font-size-xxxl);
}

.DAvatar.--primary {
	--color: var(--d-color-primary);
	--color-bg: var(--d-color-primary);
}

.DAvatar.--info {
	--color: var(--d-color-info);
	--color-bg: var(--d-color-info);
}

.DAvatar.--success {
	--color: var(--d-color-success);
	--color-bg: var(--d-color-success);
}

.DAvatar.--accent {
	--color: var(--d-color-accent);
	--color-bg: var(--d-color-accent);
}

.DAvatar.--danger {
	--color: var(--d-color-danger);
	--color-bg: var(--d-color-danger);
}

.DAvatar.--light {
	--color: var(--d-color-light);
	--color-bg: var(--d-color-light);
}

.DAvatar.--contrast {
	color: #fff;
	&:after {
		opacity: 1;
	}
}
