<template functional>
	<div
		class="DSpinner"
		:class="[data.staticClass, data.class]"
		:style="{
			width: props.size ? `${props.size}px` : '',
			height: props.size ? `${props.size}px` : '',
		}"
	>
		<svg
			viewBox="0 0 20 20"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle cx="10" cy="10" r="9" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"></circle>
		</svg>
	</div>
</template>

<script>
export default {
	name: 'DSpinner',
	props: ['size'],
};
</script>
