@keyframes spinner-animation {
	0% {
		stroke-dasharray: 7 70;
		transform: rotateZ(0deg);
	}
	50% {
		stroke-dasharray: 50 70;
		transform: rotateZ(180deg);
	}
	100% {
		stroke-dasharray: 7 70;
		transform: rotateZ(720deg);
	}
}

.DSpinner {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	font-size: 0;
	z-index: 5;
	svg {
		width: 100%;
		height: 100%;
		transform: rotateZ(0deg);
		animation: spinner-animation 1.5s linear infinite;
	}
}
