@use '../DFormControl/DFormControl';
@use '../../assets/scss/utils/mixins';
@use '../DList';

.DFormSelect {}

.DFormSelectWrap .DFormField__area {
	cursor: pointer;
}

.DFormSelectWrap.--disabled .DFormField__area {
	cursor: default;
}

.DFormSelect__icon {
	--icon-size: 22px;
	color: var(--d-color-text-secondary);
	transition: transform .15s ease;
	svg {
		transition: transform .15s ease;
	}
}

.DFormSelect__icon.--isOpen svg {
	transform: rotateZ(180deg);
}

.DFormField.--small .DFormSelect__icon {
	--icon-size: 20px;
}

.DFormSelect__selectList {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 calc(-1 * var(--padding-y)) calc(-1 * var(--padding-y)) 0;
}

.DFormSelect__label {
	padding: 0 var(--padding-y) var(--padding-y) 0;
}

.DFormSelect__placeholder {
	color: var(--d-color-text-placeholder);
	user-select: none;
}

.DFormSelect__placeholder.--list {
	padding: var(--d-gap-m) 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	text-align: center;
}


.DFormSelect__area {}

.DFormSelect__search {
	position: relative;
	display: flex;
	align-items: center;
}

.DFormSelect__iconSearch,
.DFormSelect__iconLoading {
	--icon-size: 22px;
	color: var(--d-color-text-secondary);
	transition: opacity .15s ease;
}

.DFormSelect__iconLoading.--generalInput {
	position: absolute;
	top: 50%;
	left: var(--padding-x);
	transform: translateY(-50%);
}

.DFormSelect__iconLoading {
	opacity: 0;
}

.DFormSelectWrap.--showLoading,
.DFormSelect__search.--showLoading {
	.DFormSelect__iconSearch {
		opacity: 0;
	}

	.DFormSelect__iconLoading {
		opacity: 1;
	}
}

.DFormSelect__input {
	@extend .DFormControl;
}

.DFormSelectInput {
	@extend .DFormControl;
}

.DFormSelect__search {
	.DFormSelect__input {
		min-height: var(--d-size-m);
		padding: var(--d-gap-xs) 54px;
		border-bottom: 1px solid var(--d-color-plate-border);

		&:focus {
			border-bottom: 1px solid var(--d-color-primary);
		}
	}

	.DFormSelect__iconSearch,
	.DFormSelect__iconLoading {
		width: 18px;
		height: 18px;
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
	}
}


.DFormSelect__optionList {
	--padding-x: 20px;
	--padding-y: var(--d-gap-m);
	overflow: auto;
	max-height: 200px;
}

.DFormSelectOption {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	transition: all .1s ease;
	padding: var(--padding-y) 0;
	border-bottom: 1px solid var(--d-color-plate-border);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	&:hover {
		background-color: rgba(var(--d-color-primary-rgb), .05);
	}

	&:last-child {
		border-bottom: 0;
	}
}

.DFormSelectOption.--selected {
	background-color: rgba(var(--d-color-plate-border-rgb), .5);
}

.DFormSelectOption__check {
	flex-shrink: 0;
	flex-grow: 0;
	padding-right: var(--d-gap-l);
}

.DFormSelectOption__label {
	flex-shrink: 1;
	flex-grow: 1;
	width: 100%;
}
