<template>
	<DFormField class="DFormSelectWrap" :class="{'--showLoading': isSearchLoading}" v-bind="formFieldProps" control-styled>
		<template #label><slot name="label"/></template>
		<template #before><slot name="before"/></template>
		<template #after><slot name="after"/></template>
		<template #caption><slot name="caption"/></template>

		<template #innerBefore>
			<template v-if="generalInput">
				<slot name="searchIcon">
					<d-icon class="DFormSelect__iconSearch" name="search"/>
				</slot>
				<d-spinner class="DFormSelect__iconLoading --generalInput"/>
			</template>
			<slot name="innerBefore" v-else></slot>
		</template>

		<template #innerAfter>
			<div class="DFormSelect__icon" :class="{'--isOpen': isOpen}">
				<slot name="innerAfter">
					<d-icon name="chevron-down"/>
				</slot>
			</div>
		</template>

		<input
			v-if="generalInput"
			v-dropdown:[uuid]="{closest: dropdownAnchorTarget}"
			:class="['DFormControl', 'DFormSelectInput', controlClass]"
			:style="controlStyle"
			type="text"
			ref="control"
			:placeholder="searchPlaceholder"
			v-model="generalInputModel"
			v-bind="controlAttrs"
			v-on="controlListeners"
			@focus="onFocusGeneralInput"
			@blur="onBlurGeneralInput"
			@input="onInputGeneralInput"
			@keyup.enter="onEnterGeneralInput"
		>

		<div
			v-else
			v-dropdown:[uuid]="{closest: dropdownAnchorTarget}"
			:class="['DFormControl', 'DFormSelect', controlClass]"
			:style="controlStyle"
			v-bind="controlAttrs"
			v-on="controlListeners"
			ref="control"
		>
			<div class="DFormSelect__placeholder" v-if="selectedNOptions.length === 0">
				<slot name="selectedEmpty">{{placeholder || ''}}</slot>
			</div>
			<slot name="selected" :selected="selectedOptions" :unselect="unselectOption" v-else>
				<template v-if="multiple">
					<div class="DFormSelect__selectList">
						<div class="DFormSelect__label" v-for="nOption in selectedNOptions" :key="`selected_${nOption.key}`">
							<d-label color="primary" @close="unselectOption(nOption)" v-dropdown-ignore="'.DLabel__close'">
								{{ nOption.label }}
							</d-label>
						</div>
					</div>
				</template>
				<template v-else>
					{{ selectedNOptions[0].label }}
				</template>
			</slot>
		</div>

		<d-dropdown
			placement="bottom-start"
			width-by-anchor
			save-inner-click
			:save-anchor-click="generalInput"
			:name="uuid"
			:manual="disabled"
			:offset="dropdownOffset"
			:targetClass="['DFormSelect__drop', dropdownClass]"
			:placement="dropdownPlacement"
			v-model="isOpen"
			@closed="onClose"
			@opened="onOpen"
		>
			<div class="DFormSelect__search" :class="{'--showLoading': isSearchLoading}" v-if="(filter || search) && !generalInput">
				<slot name="searchIcon">
					<d-icon class="DFormSelect__iconSearch" name="search"/>
				</slot>
				<d-spinner class="DFormSelect__iconLoading" v-if="search"/>
				<input
					class="DFormSelect__input"
					type="text"
					ref="searchInput"
					:placeholder="searchPlaceholder"
					v-model="searchString"
				>
			</div>
			<div class="DFormSelect__optionList" v-scroll-bar v-if="currentOptions.length" ref="optionList">
				<div
					class="DFormSelectOption"
					:class="{'--selected': isSelected(nOption)}"
					tabindex="0"
					v-for="nOption in currentOptions"
					:key="nOption.key"
					@click="onClickOption(nOption)"
				>
					<div class="DFormCheck DFormSelectOption__check" v-if="multiple">
						<input class="DFormCheck__input" type="checkbox" :checked="isSelected(nOption)" disabled>
						<div class="DFormCheck__box"/>
					</div>
					<div class="DFormSelectOption__label">
						<slot name="option" :option="nOption.origin">{{ nOption.label }}</slot>
					</div>
				</div>
			</div>
			<div class="DFormSelect__placeholder --list" v-else-if="isSearchLoading">
				<slot name="searchLoading">{{ searchLoading }}</slot>
			</div>
			<div class="DFormSelect__placeholder --list" v-else-if="searchString">
				<slot name="searchEmpty">{{ searchEmpty }}</slot>
			</div>
			<div class="DFormSelect__placeholder --list" v-else>
				<slot name="listEmpty">{{ listEmpty }}</slot>
			</div>
		</d-dropdown>
	</DFormField>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';

let createdCounter = 0;
export default {
	name: 'DFormSelect',
	extends: DFormControl,
	props: {
		options: {
			type: Array,
			default: () => [],
		},
		optionKey: {
			type: String,
			default: null,
		},
		optionLabel: {
			type: String,
			default: null,
		},
		optionValue: {
			type: String,
			default: null,
		},
		multiple: {
			type: Boolean,
			default: false,
		},
		maxSelected: {
			type: Number,
			default: 0,
		},
		filter: {
			type: [Boolean, Function],
			default: null,
		},
		search: {
			type: Function,
			default: null,
		},
		searchDebounce: {
			type: Number,
			default: 300,
		},
		generalInput: {
			type: Boolean,
			default: false,
		},
		placeholder: {
			type: String,
			default: '',
		},
		dropdownAnchorTarget: {
			type: String,
			default: '.DFormField__area',
		},
		dropdownOffset: {
			type: Array,
			default: () => ([0, 0])
		},
		dropdownClass: {
			type: [Array, Object, String],
			default: '',
		},
		dropdownPlacement: {
			type: String,
			default: 'bottom',
		},
		searchPlaceholder: {
			default: 'Поиск'
		},
		searchLoading: {
			default: 'Поиск'
		},
		searchEmpty: {
			default: 'Ничего не найдено'
		},
		listEmpty: {
			default: 'Список пуст'
		},
	},
	components: {},
	data() {
		++createdCounter;
		return {
			isOpen: false,
			uuid: `DFormSelect_${createdCounter}`,
			searchString: '',
			generalInputModel: '',
			isGeneralInputFocus: false,
			isSearchLoading: '',
			searchStarting: false,
			searchTimeout: null,
			innerNOptions: [],
			searchNOptions: [],
			selectedNOptions: [],
		};
	},
	computed: {
		innerModel: {get() {}, set() {}},
		controlListeners() {
			return {
				...this.$listeners,
				focus: (evt) => {
					this.$emit('focus', evt);
					this.isControlFocus = true;
				},
				blur: (evt) => {
					this.$emit('blur', evt);
					this.isControlFocus = false;
				},
				select: () => {}
			}
		},
		isFloating() {
			return Boolean(this.selectedOptions) || Boolean(this.placeholder) || this.isGeneralInputFocus;
		},
		currentOptions() {
			if (typeof this.search === 'function' && this.searchString && this.searchStarting) {
				return this.searchNOptions;
			}

			if ((this.filter || this.generalInput) && this.searchString) {
				return typeof this.filter === 'function' ? this.filterOptionUser() : this.filterOptionDefault();
			}
			return this.innerNOptions;
		},

		selectedOptions() {
			if (this.multiple) {
				return this.selectedNOptions.map(_ => _.origin);
			} else if (this.selectedNOptions.length){
				return this.selectedNOptions[0].origin
			}
			return undefined
		},

		isMaxSelected() {
			return this.maxSelected !== 0 && this.selectedNOptions.length >= this.maxSelected;
		},

		isNeedClear() {
			return this.selectedNOptions.length > 0 || !!this.generalInputModel;
		},

	},
	methods: {
		filterOptionDefault() {
			return this.innerNOptions.filter((nOption) => {
				return String(nOption.label).toLocaleLowerCase().includes(this.searchString.toLocaleLowerCase());
			});
		},
		filterOptionUser() {
			return this.innerNOptions.filter((nOption) => this.filter(nOption.origin, this.searchString));
		},
		optionComparator(option, value) {
			if (this.multiple) {
				return Array.isArray(value) && value.some(_ => _ === option.value);
			} else {
				return option.value === value;
			}
		},

		isSelected(nOption) {
			return this.selectedNOptions.some(_ => _.value === nOption.value);
		},

		normalizeOption(option) {
			return {
				origin: option,
				value: this.getOptionValue(option),
				label: this.getOptionLabel(option),
				key: this.getOptionKey(option),
			};
		},

		updateInnerNOptions() {
			const valid = this.options && Array.isArray(this.options);
			this.innerNOptions = valid ? this.options.map(this.normalizeOption) : [];
		},

		updateSelectedNOptions(model = this.modelValue) {
			this.selectedNOptions = this.currentOptions.filter((option) => {
				return this.optionComparator(option, model);
			});
			this.generalInputModel = this.selectedNOptions[0]?.label || '';
			this.isErrorShow = false;
		},

		unselectOption(nOption) {
			if (this.disabled) return;
			this.selectedNOptions = this.selectedNOptions.filter(_ => _.value !== nOption.value);
			this.emitSelectedNOptions();
		},

		selectNOptionSingle(nOption) {
			this.selectedNOptions = this.isSelected(nOption) && this.clearable ? [] : [nOption];
			this.generalInputModel = this.selectedNOptions[0]?.label || '';
			this.emitSelectedNOptions();
		},

		selectNOptionFirst() {
			if (!this.generalInputModel) return;
			this.selectedNOptions = this.currentOptions[0] ? [this.currentOptions[0]] : [];
			this.emitSelectedNOptions();
			this.generalInputModel = this.selectedNOptions[0]?.label || '';
		},

		selectNOptionByGeneralInput() {
			if (!this.generalInput) return;

			const selectedLabel = this.selectedNOptions[0]?.label || ''
			if (this.generalInputModel === selectedLabel) return;

			const foundOption = this.generalInputModel ? this.currentOptions.find((option) => {
				return String(option.label).trim() === this.generalInputModel.trim();
			}) : [];

			this.selectedNOptions = foundOption ? [foundOption] : [];
			this.generalInputModel = this.selectedNOptions[0]?.label || '';
			this.emitSelectedNOptions();
		},

		selectNOptionMultiple(nOption) {
			if (this.isSelected(nOption)) {
				this.unselectOption(nOption);
			} else {
				if (this.isMaxSelected) return;
				this.selectedNOptions.push(nOption);
			}
			this.emitSelectedNOptions();
		},

		extractValue(value) {
			if (value === undefined) {
				return this.defaultModel;
			}
			return value;
		},

		emitSelectedNOptions() {
			let value = this.selectedNOptions.map(_ => _.value);
			this.emitedValue = this.multiple ? value : this.extractValue(value[0]);
			this.$emit('modelChange', this.emitedValue);
			this.$emit('select', this.selectedOptions);
		},

		scrollToSelected() {
			const scrollEl = this.$refs.optionList;
			if (!scrollEl) return;
			const activeEl = scrollEl.querySelector('.--selected');
			if (!activeEl) return;
			scrollEl.scrollTo({top: activeEl.offsetTop});
		},

		getOptionFiled(option, key = null) {
			if (key === null) return option;
			return option[key];
		},

		getOptionValue(option) {
			return this.getOptionFiled(option, this.optionValue);
		},

		getOptionLabel(option) {
			return this.getOptionFiled(option, this.optionLabel);
		},

		getOptionKey(option) {
			const fieldKey = this.optionKey ?? this.optionValue;
			let field = this.getOptionFiled(option, fieldKey);
			if (typeof field === 'object') {
				field = field.id || JSON.stringify(field);
			}
			return field;
		},

		async getOptionFromUserSearch() {
			try {
				const searchResult = await this.search(this.searchString);
				return Array.isArray(searchResult) ? searchResult : [];
			} catch (e) {
				console.error(`[DFormSelect/search]:`, e);
				return [];
			}
		},

		clearSearch() {
			clearTimeout(this.searchTimeout);
			this.searchNOptions = [];
			this.isSearchLoading = false;
			this.searchStarting = false;
			this.searchString = '';
		},

		searchStart() {
			clearTimeout(this.searchTimeout);
			this.searchTimeout = setTimeout(async () => {
				const options = await this.getOptionFromUserSearch();
				this.searchNOptions = options.map(this.normalizeOption);
				this.isSearchLoading = false;
				this.searchStarting = true;
			}, this.searchDebounce);
		},

		onFocusGeneralInput() {
			this.isOpen = true;
			this.isGeneralInputFocus = true;
		},

		onBlurGeneralInput() {
			if (!this.isOpen) return
			this.isGeneralInputFocus = false;
			setTimeout(() => {
				if (!document.activeElement) return;
				const isFocusInSelect =  document.activeElement.closest('.DFormSelectWrap')
				const isFocusInDropdown =  document.activeElement.closest('.DFormSelect__drop')
				if (!isFocusInSelect && !isFocusInDropdown) {
					this.isOpen = false
				}
			}, 100);
		},

		onEnterGeneralInput() {
			this.selectNOptionFirst();
			this.isOpen = false
		},

		onSearch() {
			if (this.searchString) {
				this.isSearchLoading = true;
				this.searchStart();
			} else {
				this.clearSearch();
			}
		},

		onInputGeneralInput() {
			this.searchString = this.generalInputModel;
			this.isOpen = true;
		},

		onClickOption(nOption) {
			if (this.disabled) return;
			if (this.multiple && !this.generalInput) {
				this.selectNOptionMultiple(nOption);
			} else {
				this.selectNOptionSingle(nOption);
				this.isOpen = false;
				this.isErrorShow = false;
			}
		},

		onOpen() {
			this.focusSearch();
			this.$nextTick(this.scrollToSelected);
		},

		onClose() {
			this.selectNOptionByGeneralInput();
			this.$nextTick(this.clearSearch);
		},

		clearInput() {
			if (!this.clearable) return;
			this.selectedNOptions = [];
			this.generalInputModel = '';
			this.clearSearch();
			this.$emit('clear');
			this.emitSelectedNOptions();
			if (!this.generalInput) {
				this.isOpen = false; // хуй знает зачем, возможно стоит убрать
			}
		},

		focusSearch() {
			setTimeout(() => {
				this.$refs.searchInput && this.$refs.searchInput.focus();
			}, 1);
		},
	},
	directives: {},
	filters: {},
	watch: {
		options() {
			this.updateInnerNOptions();
			this.updateSelectedNOptions();
		},
		modelValue(newValue, oldValue) {
			if (newValue !== oldValue && newValue !== this.emitedValue) {
				this.updateSelectedNOptions(newValue);
			}
		},
		searchString(newValue, oldValue) {
			if (newValue === oldValue || typeof this.search !== 'function') return;
			this.onSearch();
		},
	},
	created() {
		this.updateInnerNOptions();
		this.updateSelectedNOptions();
		this.isErrorShow = true;
	},
	mounted() {},
};
</script>
