html {
	//height: 100%;
	-webkit-tap-highlight-color: transparent;
}

#__layout,
#__nuxt,
html,
body {
	min-height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
	padding: 0;
	color: var(--d-color-text-main);
	font-family: var(--d-font-family);
	font-size: var(--d-font-size-m);
	font-weight: var(--d-font-weight-normal);
	line-height: var(--d-line-height);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;

	text-rendering: geometricPrecision;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

.disableOutline *,
*:before,
*:after {
	outline: none !important;
}
