@use '../../assets/scss/utils/mixins';

.DFormPassword {}

.DFormPasswordCtrl {
	@include mixins.clearButton;
	color: var(--d-color-text-secondary);
	transition: color .1s ease;
	&:hover {
		color: var(--d-color-text-main);
	}
}

.DFormPasswordCtrl.--active {
	color: var(--d-color-primary);
}
