<template>
	<DFormField v-bind="formFieldProps" control-styled>
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		<template #innerAfter>
			<button type="button" class="DFormPasswordCtrl" :class="{'--active': isPasswordShow}" @click="togglePasswordShow" tabindex="-1">
				<d-icon name="eye" v-if="isPasswordShow"/>
				<d-icon name="eye-off" v-else/>
			</button>
		</template>

		<input
			:class="['DFormControl', 'DFormPassword', controlClass]"
			:style="controlStyle"
			:type="inputType"
			:disabled="disabled"
			:placeholder="placeholder"
			:autocomplete="autocomplete"
			v-bind="controlAttrs"
			v-on="controlListeners"
			v-model="innerModel"
			ref="control"
		>

	</DFormField>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';

export default {
	name: 'DFormPassword',
	extends: DFormControl,
	props: {},
	components: {},
	data() {
	 return {
	 	isPasswordShow: false,
	 };
	},
	computed: {
		inputType() {
			return this.isPasswordShow ? 'text' : 'password';
		},
	},
	methods: {
		togglePasswordShow() {
			this.isPasswordShow = !this.isPasswordShow;
		},
	},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
