@use '../../assets/scss/utils/mixins';

.DFormUploaderFade-enter-active, .DFormUploaderFade-leave-active {
	transition: opacity .1s;
}

.DFormUploaderFade-enter, .DFormUploaderFade-leave-to {
	opacity: 0;
}

.DFormUploader {
	--color-border: var(--d-color-plate-border);
	--color-bg: var(--d-color-plate-bg);
	--color: var(--d-color-text-secondary);
	position: relative;
	border-radius: var(--d-radius-m);
}

.DFormUploader__placeholder {
	@include mixins.clearButton;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: var(--d-size-l);
	background-color: var(--color-bg);
	border: 1px dashed var(--color-border);
	border-radius: var(--d-radius-m);
	color: var(--color);
	padding: var(--d-gap-m);
}

.DFormUploader__title {
	margin: var(--d-gap-xxs) 0;
	font-size: var(--d-font-size-xl);
	color: var(--color);
}

.DFormUploader__or {
	position: relative;
	padding: 0 var(--d-gap-xl);
	&:before,
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: var(--d-gap-l);
		position: absolute;
		top: 50%;
		background-color: var(--color);
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}

.DFormUploader__captions {
	margin-top: var(--d-gap-xs);
}
.DFormUploader__caption {
	display: inline-block;
	vertical-align: middle;
	margin: 0 var(--d-gap-xxs);
	font-size: var(--d-font-size-s);
}

.DFormUploader__link {
	color: var(--d-color-primary);
}

.DFormUploader__hoverPlaceholder {
	--gap: var(--d-gap-s);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: var(--gap);
	right: var(--gap);
	left: var(--gap);
	bottom: var(--gap);
	z-index: 100;
	border: 2px dashed var(--d-color-primary);
	border-radius: var(--d-radius-m);
	background-color: var(--d-color-light);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	svg {
		height: 80%;
		width: 80%;
		max-width: var(--d-size-m);
		max-height: var(--d-size-m);
		color: var(--d-color-primary);
	}
}

.DFormUploader.--isDragFile {
	*, *:before, *:after {
		pointer-events: none;
	}
}

.DFormUploader.--inline {
	display: inline-block;
	vertical-align: middle;
}

.DFormUploader.--round {
	border-radius: 50%;
	.DFormUploader__hoverPlaceholder {
		border-radius: 50%;
	}
}
