<template>
	<div class="DFormUploader" ref="dropZone" :class="{'--isDragFile': isDragFile, '--inline': inline, '--round': round}">
		<input type="file" ref="inputFile" hidden :multiple="multiple" :accept="fileFormats" @change="onChangeInputFile">

		<transition name="DFormUploaderFade">
			<div class="DFormUploader__hoverPlaceholder" v-if="isDragFile">
				<d-icon name="upload-cloud"/>
			</div>
		</transition>

		<slot
			name="default"
			v-bind:uploadFile="onClickChangeFile"
			v-bind:fileFormats="fileFormatsFotTemplate"
			v-bind:fileMaxSize="fileMaxSizeFotTemplate"
		>
			<button class="DFormUploader__placeholder" @click="onClickChangeFile">
				<div class="DFormUploader__title">Перетащите файл сюда</div>
				<div class="DFormUploader__or">или</div>
				<div class="DFormUploader__link">Выберите с компьютера</div>
				<slot name="caption">
					<div class="DFormUploader__captions">
						<div class="DFormUploader__caption" v-if="fileFormats">
							Разрешенные форматы: {{ fileFormatsFotTemplate }}
						</div>
						<div class="DFormUploader__caption" v-if="fileMaxSize">
							Максимальный размер: {{ fileMaxSizeFotTemplate }}
						</div>
					</div>
				</slot>
			</button>
		</slot>
		<slot name="addon"/>
	</div>
</template>

<script>
export default {
	name: 'DFormUploader',
	props: {
		fileFormats: {
			type: String,
			default() {
				return '';
			},
		},
		fileMaxSize: {
			type: Number,
			default() {
				return 0;
			},
		},
		round: {
			type: Boolean,
			default: false,
		},
		inline: {
			type: Boolean,
			default: false,
		},
		loading: {
			type: Boolean,
			default: false,
		},
		multiple: {
			type: Boolean,
			default: false,
		},
		disabled: {
			type: Boolean,
			default: false,
		},
		errorTextSize: {
			default: null,
		},
		errorTextFormat: {
			default: null,
		},
	},
	components: {},
	data() {
		return {
			isInit: false,
			isDragFile: false,
		};
	},
	computed: {
		fileFormatsFotTemplate() {
			return this.fileFormats.replace(/\./g, '');
		},
		fileMaxSizeFotTemplate() {
			return this.$dUtils.humanFileSize(this.fileMaxSize);
		},
	},
	methods: {
		getErrorTextSize(fileName, fileMaxSize) {
			if (typeof this.errorTextSize === 'function') {
				return this.errorTextSize(fileName, fileMaxSize);
			} else if (this.errorTextSize) {
				return this.errorTextSize;
			} else {
				return `${fileName}\nПревышает максимальный размер (${fileMaxSize})`
			}
		},
		getErrorTextFormat(fileName) {
			if (typeof this.errorTextFormat === 'function') {
				return this.errorTextFormat(fileName);
			} else if (this.errorTextFormat) {
				return this.errorTextFormat;
			} else {
				return `${fileName}\nФормат файла не разрешен`
			}
		},
		filterFileBySize(files) {
			if (this.fileMaxSize === 0) return files;
			return files.filter((file) => {
				const isValidSize = file.size <= this.fileMaxSize;
				if (!isValidSize) {
					this.$dNotice.error(this.getErrorTextSize(file.name, this.$dUtils.humanFileSize(this.fileMaxSize)));
				}
				return isValidSize;
			});
		},
		filterFileByFormat(files) {
			if (this.fileFormats === '') return files;
			return files.filter((file) => {
				const ext = this.$dUtils.fileExtension(file.name);
				const isValidFormat = this.fileFormats.includes(ext.toLocaleLowerCase());
				if (!isValidFormat) {
					this.$dNotice.error(this.getErrorTextFormat(file.name));
				}
				return isValidFormat;
			});
		},
		emitFiles(files) {
			if (files && files.length) {
				this.$emit('upload', this.multiple ? files : files[0]);
			}
		},
		loadFile(e) {
			try {
				const files = e.target.files || e.dataTransfer.files;
				const filesArray = this.multiple ? [...files] : [files[0]];
				const validFiles = this.filterFileByFormat(this.filterFileBySize(filesArray));
				this.emitFiles(validFiles);
			} catch (e) {}
		},
		preventDefaults(e) {
			e.preventDefault();
			e.stopPropagation();
		},
		onChangeInputFile(e) {
			this.loadFile(e);
			e.target.value = '';
		},
		onClickChangeFile() {
			if (this.disabled) return;
			this.$refs.inputFile.click();
		},
		onDragEnter(e) {
			if (this.disabled) return;
			this.preventDefaults(e);
			this.isDragFile = true;
		},
		onDragOver(e) {
			this.preventDefaults(e);
		},
		onDragLeave(e) {
			this.preventDefaults(e);
			if (e.target !== this.$refs.dropZone) return false;
			this.isDragFile = false;
		},
		onDropFile(e) {
			if (this.disabled) return;
			this.preventDefaults(e);
			this.isDragFile = false;
			this.loadFile(e);
		},
		initDropZone() {
			this.$refs.dropZone.addEventListener('dragenter', this.onDragEnter);
			this.$refs.dropZone.addEventListener('dragover', this.onDragOver);
			this.$refs.dropZone.addEventListener('dragleave', this.onDragLeave);
			this.$refs.dropZone.addEventListener('drop', this.onDropFile);
			this.isInit = true;
		},
		destroyDropZone() {
			this.$refs.dropZone.removeEventListener('dragenter', this.onDragEnter);
			this.$refs.dropZone.removeEventListener('dragover', this.onDragOver);
			this.$refs.dropZone.removeEventListener('dragleave', this.onDragLeave);
			this.$refs.dropZone.removeEventListener('drop', this.onDropFile);
			this.isInit = false;
		},
	},
	directives: {},
	filters: {},
	watch: {
		disabled(newValue) {
			if (newValue && this.isInit) {
				this.destroyDropZone();
			} else if (!newValue && !this.isInit) {
				this.initDropZone();
			}
		},
	},
	mounted() {
		if (!this.disabled) {
			this.initDropZone();
		}
	},
	beforeDestroy() {
		if (this.isInit) {
			this.destroyDropZone();
		}
	},
};
</script>
