.DAddon {
	--gap-x: 0px;
	--gap-y: 0px;
	display: none;
	font-size: var(--d-font-size-m);
	font-weight: var(--d-font-weight-normal);
	padding: var(--gap-y) var(--gap-x);
}

.d-addon-wrap {
	position: relative;
	overflow: hidden;
	.DAddon {
		display: block;
	}
	.DAddon.--full {
		display: flex;
	}
}

.d-addon-wrap {
	.DAddon.--hover {
		opacity: 0;
		transition: all .1s ease;
	}
	&:hover .DAddon.--hover {
		opacity: 1;
	}
}


.DAddon.--full,
.DAddon.--top-left,
.DAddon.--top-right,
.DAddon.--bottom-left,
.DAddon.--bottom-right,
.DAddon.--center {
	position: absolute;
	z-index: 10;
}

.DAddon.--top-left {
	top: 0;
	left: 0;
}

.DAddon.--top-right {
	top: 0;
	right: 0;
}

.DAddon.--bottom-left {
	bottom: 0;
	left: 0;
}

.DAddon.--bottom-right {
	bottom: 0;
	right: 0;
}

.DAddon.--center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.DAddon.--full {
	--color: var(--d-color-light);
	--color-bg: rgba(var(--d-color-dark-rgb), .35);
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: none;
	background-color: var(--color-bg);
	color: var(--color);
}

.DAddon.--bg-light {
	--color: var(--d-color-dark);
	--color-bg: rgba(var(--d-color-light-rgb),.5);
	background-color: var(--color-bg);
	color: var(--color);
}

.DAddon.--action {
	cursor: pointer;
}

@for $index from 1 through 10 {
	.DAddon.--order-#{$index} {
		z-index: $index;
	}
}
