@use '../../assets/scss/variables';
@use '../../assets/scss/utils/mixins';

.DCells {
	--gap-x: 0px;
	--gap-y: 0px;
	--span: auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.DCells__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: calc(100% + var(--gap-x));
	margin: calc(-1 * var(--gap-y) / 2) calc(-1 * var(--gap-x) / 2);
}

.DCells.--inline {
	display: inline-flex;
}

.DCells.--plate {
	& > .DCells__wrap {
		margin: 0;
		padding: 1px;
		align-items: stretch;

		& > .DCell {
			&:before {
				content: '';
				display: block;
				width: calc(100% + 1px);
				height: calc(100% + 1px);
				position: absolute;
				top: 0;
				left: 0;
				border: 1px solid var(--d-color-plate-border);
				pointer-events: none;
			}
		}
	}
}

.DCells.--align-stretch {
	& > .DCells__wrap {
		align-items: stretch;
	}
}
.DCells.--align-center {
	& > .DCells__wrap {
		align-items: center;
	}
}
.DCells.--align-start {
	& > .DCells__wrap {
		align-items: flex-start;
	}
}
.DCells.--align-end {
	& > .DCells__wrap {
		align-items: flex-end;
	}
}
.DCells.--justify-center {
	& > .DCells__wrap {
		justify-content: center;
	}
}
.DCells.--justify-start {
	& > .DCells__wrap {
		justify-content: flex-start;
	}
}
.DCells.--justify-end {
	& > .DCells__wrap {
		justify-content: flex-end;
	}
}
.DCells.--align-baseline {
	& > .DCells__wrap {
		align-items: baseline;
	}
}
.DCells.--no-wrap {
	& > .DCells__wrap {
		flex-wrap: nowrap;
	}
}
