.DCell {
	display: block;
	max-width: 100%;
	width: var(--span);
	padding: calc(var(--gap-y) / 2) calc(var(--gap-x) / 2);
	flex-shrink: 0;
	flex-grow: 0;
	position: relative;
}

.DCell.--stretch {
	align-self: stretch;
}
.DCell.--center {
	align-self: center;
}
.DCell.--start {
	align-self: flex-start;
}
.DCell.--end {
	align-self: flex-end;
}
.DCell.--baseline {
	align-self: baseline;
}
