.DTable {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: var(--d-radius-m);
	text-align: left;
	overflow: hidden;
	--rowPaddingX: var(--d-gap-l);
	--rowPaddingY: var(--d-gap-m);
	--headerPaddingX: var(--d-gap-l);
	--headerPaddingY: var(--d-gap-m);
}

.DTable tr {
	display: table-row;
	font-weight: inherit;
}

.DTable td,
.DTable th {
	display: table-cell;
	font-weight: inherit;
	border-bottom: 1px solid var(--d-color-plate-border);
	position: relative;
}
.DTable th {
	text-transform: uppercase;
	color: var(--d-color-text-secondary);
	font-size: var(--d-font-size-xs);
	font-weight: var(--d-font-weights-bold);
	padding: var(--headerPaddingY) var(--headerPaddingX);
}

.DTable td {
	padding: var(--rowPaddingY) var(--rowPaddingX);
}

.DTable tr:last-child {
	td {
		border-bottom: 0;
	}
}

.DTableWrap {
	width: 100%;
	overflow: auto;
}

.DTable.--thin {
	--rowPaddingY: var(--d-gap-xs);
	--headerPaddingY: var(--d-gap-xs);
}

.DTable.--clear {
	td,
	th {
		border-bottom: 0;
	}

	.DTable__head {
		th {
			padding-bottom: calc(var(--headerPaddingY) + var(--rowPaddingY) / 2);

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: calc(var(--rowPaddingY) / 2);
				border-bottom: 1px solid var(--d-color-plate-border);
			}
		}
	}
}

.DTable.--rowHovered {
	.DTable__body tr {
		cursor: pointer;

		&:hover {
			background-color: rgba(var(--d-color-primary-rgb), .05);
		}
	}
}
.DTable.--headBg {
	.DTable__head th {
		padding: var(--headerPaddingY) var(--headerPaddingX);
		background-color: var(--d-color-plate-bg);
	}
}
