<template>
	<div class="DTableWrap">
		<table
			class="DTable"
			:class="[tableClass, {
				'--thin': thin,
				'--clear': clear,
				'--rowHovered': haveClickRowHandler,
				'--headBg': headBg,
			}]"
		>
			<thead class="DTable__head">
			<tr>
				<slot name="head"/>
			</tr>
			</thead>
			<tbody class="DTable__body" v-if="$slots.row || $scopedSlots.row || $scopedSlots.rowExtend">
			<template v-for="item in items">
				<tr class="DTable__row" :key="'item' + item[trackBy]" @click="onClickRow(item)">
					<slot name="row" :item="item"/>
				</tr>
				<tr class="DTable__rowExtend" :key="'itemExtend' + item[trackBy]" v-if="$scopedSlots.rowExtend">
					<slot name="rowExtend"/>
				</tr>
			</template>
			</tbody>
			<tbody class="DTable__body" v-else>
				<slot/>
			</tbody>
		</table>
	</div>
</template>

<script>

export default {
	name: 'DTable',
	props: {
		items: {
			default: () => ([])
		},
		thin: {
			type: Boolean,
			default: false
		},
		clear: {
			type: Boolean,
			default: false
		},
		headBg: {
			type: Boolean,
			default: false
		},
		rowHovered: {
			type: Boolean,
			default: false
		},
		trackBy: {
			default: 'id'
		},
		tableClass: {
			type: [String, Array, Object],
			default: '',
		},
	},
	components: {},
	data() {
		return {};
	},
	computed: {
		haveClickRowHandler() {
			return Boolean(this.$listeners.clickRow) || this.rowHovered;
		},
	},
	methods: {
		onClickRow(item) {
			this.$emit('clickRow', item)
		},
	},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
