@use '../../assets/scss/utils/mixins';
@use '../../assets/scss/static/link';

.DButton {
	@include mixins.clearButton;
	--height: var(--d-size-m);
	--color: var(--d-color-primary-rgb);
	--padding-x: var(--d-gap-xl);
	--padding-y: var(--d-gap-s);
	min-height: var(--height);
	padding: var(--padding-y) var(--padding-x);
	background-color: rgb(var(--color));
	border-radius: var(--d-radius-m);
	color: var(--d-color-light);
	font-size: var(--d-font-size-m);
	font-weight: var(--d-font-weight-bold);
	transition: opacity .1s ease;

	&:hover:not(:disabled) {
		opacity: .8;
	}

	&:disabled {

	}

	&:disabled:not(.--loading) {

	}

	.DButton__loader {
		width: calc(var(--height) * 0.5);
		height: calc(var(--height) * 0.5);
	}
}

.DButton__loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.DButton__content {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .1s ease;
}

.DButton.--loading {
	opacity: 1;
	cursor: progress;

	.DButton__content {
		opacity: 0;
	}
}

.DButton.--disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

.DButton.--large {
	--height: var(--d-size-l);
	--padding-x: var(--d-gap-xxl);
	--padding-y: var(--d-gap-m);
	font-size: var(--d-font-size-l);
}

.DButton.--small {
	--height: var(--d-size-s);
	--padding-x: var(--d-gap-l);
	--padding-y: var(--d-gap-xs);
	font-size: var(--d-font-size-s);
	font-weight: var(--d-font-weight-normal);
}

.DButton.--xSmall {
	--height: var(--d-size-xs);
	--padding-x: var(--d-gap-m);
	--padding-y: var(--d-gap-xs);
	font-size: var(--d-font-size-xs);
	font-weight: var(--d-font-weight-normal);
}

.DButton.--success,
.DButton.--accent,
.DButton.--danger {
	color: rgb(var(--color));
	background-color: rgba(var(--color), .1);
}

.DButton.--success {
	--color: var(--d-color-success-rgb);
}

.DButton.--accent {
	--color: var(--d-color-accent-rgb);
}

.DButton.--danger {
	--color: var(--d-color-danger-rgb);
}

.DButton.--outline {
	--shadow-color: var(--color);
	--shadow-opacity: .4;
	color: rgb(var(--color));
	box-shadow: inset 0 0 0 1px rgb(var(--shadow-color), var(--shadow-opacity));
	background-color: var(--d-color-light);
}

.DButton.--simple {
	@extend .d-link;
	padding: 0;
	background-color: transparent;
	&:hover {
		opacity: .5;
	}
	&[disabled] {
		opacity: .4;
		pointer-events: none;
	}
}

.DButton.--icon {
	--padding-x: var(--d-gap-xs);
	--padding-y: var(--d-gap-xs);
	min-width: var(--height);
}
