@use './functions';
@use '../variables';

@mixin clearButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	position: relative;
	padding: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	color: inherit;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
	font-weight: var(--d-font-weight-normal);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

@mixin clearLink {
	min-height: auto;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
}

@mixin clearFormControl {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: var(--d-color-text-main);
	text-align: left;
	text-decoration: none;
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

@mixin outside($val: 10px) {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: calc(-1 * #{$val});
		bottom: calc(-1 * #{$val});
		left: calc(-1 * #{$val});
		right: calc(-1 * #{$val});
	}
}
@mixin container {
	max-width: 1280px;
	margin: 0 auto;
}

@mixin generateVariable($list, $prefix: false) {
	@each $key, $val in $list {
		@if $prefix {
			--d-#{$prefix}-#{$key}: #{$val};
		} @else {
			--d-#{$key}: #{$val};
		}
		@if $prefix == color {
			--d-#{$prefix}-#{$key}-rgb: #{functions.hexToRGB($val)};
		}
	}
}

@function get-breakpoints-value($value) {
	@if (map-has-key(variables.$breakpoints, $value)) {
		@return map-get(variables.$breakpoints, $value);
	} @else {
		@return $value;
	}
}

@mixin media($value-1: false, $value-2: false) {
	$query: 0;
	$query-to: 0;
	@if ($value-1 == "to") {
		$query: get-breakpoints-value($value-2) + 1 + px;
		@media screen and (max-width: #{$query}) {
			@content;
		}
	} @else if ($value-2 != false) {
		$query: get-breakpoints-value($value-1) + 1 + px;
		$query-to: get-breakpoints-value($value-2) + px;
		@media screen and (min-width: #{$query}) and (max-width: #{$query-to}) {
			@content;
		}
	} @else {
		$query: get-breakpoints-value($value-1) + px;
		@media screen and (min-width: #{$query}) {
			@content;
		}
	}
}

