.DProgress {
	--height: 10px;
	--color-bg: var(--d-color-plate-bg);
	--color-bar: var(--d-color-primary);
	display: block;
	width: 100%;
}
.DProgress__track {
	position: relative;
	display: block;
	height: var(--height);
	border-radius: var(--height);
	background-color: var(--color-bg);
	overflow: hidden;
}
.DProgress__bar {
	display: block;
	width: 100%;
	height: var(--height);
	position: absolute;
	top: 0;
	left: -100%;
	border-radius: var(--height);
	background-color: var(--color-bar);
	will-change: transform;
	transition: all .1s ease;
}
.DProgress__content {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.DProgress__left {
	margin-right: auto;
	padding-right: var(--d-gap-s);
	margin-top: var(--d-gap-xs);
}
.DProgress__right {
	margin-left: auto;
	padding-left: var(--d-gap-s);
	margin-top: var(--d-gap-xs);
}
