<template>
	<div class="DProgress">
		<div class="DProgress__top" v-if="$slots.top">
			<slot name="top"/>
		</div>
		<div class="DProgress__track">
			<div class="DProgress__bar" :style="styleTransition"/>
		</div>
		<div class="DProgress__content">
			<div class="DProgress__left" v-if="$slots.left">
				<slot name="left"/>
			</div>
			<div class="DProgress__right" v-if="$slots.right">
				<slot name="right"/>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DProgress',
	props: {
		current: {
			default: 0,
		},
		total: {
			default: 0,
		}
	},
	components: {},
	data() {
	 return {};
	},
	computed: {
		percent() {
			const current = Number(this.current);
			const total = Number(this.total);
			if (current <= 0) return 0;
			if (current >= total) return 100;
			return Math.round(current * 100 / total);
		},
		styleTransition() {
			return {
				transform: `translateX(${this.percent}%)`,
			}
		},
	},
	methods: {},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
