@use '../../assets/scss/utils/mixins';

.DFormField {
	--height: var(--d-size-m);
	--padding-x: var(--d-gap-m);
	--padding-y: 4px;
	--control-padding-x: 20px;
	--control-padding-y: var(--padding-y);
	--border-color: var(--d-color-plate-border-rgb);
	--icon-size: 24px;
	--font-size: var(--d-font-size-m);
	display: grid;
	width: 100%;
	grid-template-areas: 'label label label'
											 'before  main after'
											 'caption caption caption'
											 'errors errors errors';
	grid-template-columns: auto 1fr auto;
	font-size: var(--font-size);

	svg {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

.DFormField__labelWrap {
	grid-area: label;
}

.DFormField__beforeWrap {
	grid-area: before;
}

.DFormField__afterWrap {
	grid-area: after;
}

.DFormField__beforeWrap,
.DFormField__afterWrap {
	position: relative;
	z-index: 1;

	&:focus-within {
		z-index: 3;
	}
}

.DFormField__areaWrap {
	display: flex;
	grid-area: main;
	width: 100%;
	min-width: 20px;
	position: relative;
	z-index: 2;
}

.DFormField__label {
	margin-bottom: 10px;
}

.DFormField__before,
.DFormField__after {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.DFormField__before {
	padding-right: var(--padding-x);
}

.DFormField__after {
	padding-left: var(--padding-x);
}

.DFormField__area {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	background-color: var(--d-color-light);
	border-radius: var(--d-radius-m);
	color: var(--d-color-text-main);
	cursor: text;
}

.DFormField__control {
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	width: 100%;
	order: 2;
}

.DFormField__control > .DFormControl {
	min-height: 100%;
	padding: var(--control-padding-y) var(--control-padding-x);
}

.DFormField__innerBefore {
	order: 1;
	padding-left: var(--padding-x);
}

.DFormField__innerAfter {
	order: 4;
	padding-right: var(--padding-x);
}

.DFormField__clear {
	@include mixins.clearButton;
	@include mixins.outside(20%);
	--size: calc(var(--height) / 2.5);
	width: calc(16px + var(--padding-x));
	height: var(--height);
	position: relative;
	z-index: 3;
	padding-right: var(--padding-x);
	color: var(--d-color-text-secondary);
	order: 3;
	flex-shrink: 0;
	flex-grow: 0;
}

.DFormField__clear-cross {
	position: relative;
	width: 16px;
	height: var(--height);
	&:before,
	&:after {
		content: '';
		display: block;
		width: 2px;
		height: var(--size);
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 3px;
		background-color: var(--d-color-text-secondary);
		transition: color .1s ease;
		margin-top: calc(-1 * var(--size) / 2);
		margin-left: -1px;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}

	&:hover {
		&:before,
		&:after {
			background-color: var(--d-color-danger);
		}
	}
}

.DFormField__loading {
	position: absolute;
}

.DFormField__caption {
	grid-area: caption;
	min-height: 18px;
	margin-top: 4px;
	color: var(--d-color-text-secondary);
	font-size: var(--d-font-size-s);
}

.DFormField__errors {
	@extend .DFormField__caption;
	grid-area: errors;
	margin-top: 4px;
	margin-bottom: -22px;
	color: var(--d-color-danger);
}

.DFormField__caption ~ .DFormField__errors {
	margin-top: 0;
	margin-bottom: -18px;
}

.DFormField.--controlStyled {
	.DFormField__before,
	.DFormField__after {
		min-height: var(--height);
	}

	.DFormField__innerBefore,
	.DFormField__innerAfter {
		padding-top: var(--padding-y);
		padding-bottom: var(--padding-y);
	}

	.DFormField__area {
		min-height: var(--height);
	}

	.DFormField__border {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		border: 1px solid rgb(var(--border-color));
		border-radius: var(--d-radius-m);
		transition: border .15s ease;
		pointer-events: none;
	}

	&.--focus {
		z-index: 3;
	}

	&.--focus .DFormField__border {
		--border-color: var(--d-color-primary-rgb);
	}
}

.DFormField__afterWrap .DButton,
.DFormField__beforeWrap .DButton {
	--shadow-color: var(--border-color);
	--shadow-opacity: 1;
}

.DFormField.--beforeFit {
	.DFormField__before {
		padding-right: 0;
		margin-right: -1px;
	}

	.DFormField__beforeWrap .DButton,
	.DFormField__beforeWrap .DFormField__border {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.DFormField__beforeWrap ~ .DFormField__areaWrap .DFormField__border {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.DFormField.--afterFit {
	.DFormField__after {
		padding-left: 0;
		margin-left: -1px;
	}

	.DFormField__afterWrap .DButton,
	.DFormField__afterWrap .DFormField__border {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.DFormField__afterWrap ~ .DFormField__areaWrap .DFormField__border {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.DFormField.--innerBeforeFit .DFormField__innerBefore {
	padding-left: var(--padding-y);
}

.DFormField.--innerAfterFit .DFormField__innerAfter {
	padding-right: var(--padding-y);
}

.DFormField.--small {
	--height: var(--d-size-s);
	--icon-size: 20px;
	--font-size: var(--d-font-size-s);

	.DFormField__clear {
		width: 16px;
	}

	.DFormField__control > [class] {
		padding: var(--padding-y) 14px;
	}
}

.DFormField.--error {
	.DFormField__border {
		--border-color: var(--d-color-danger-rgb);
	}
}

.DFormField.--floating {
	--translate-y: calc(-1 * var(--height) / 4);
	--control-padding-top: calc(var(--height) / 2.8);
	--control-padding-bottom: 4px;
	--label-scale: .8;
	position: relative;

	.DFormField__labelWrap {
		grid-area: main;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		min-height: var(--height);
		z-index: 10;
		padding-left: var(--control-padding-x);
		pointer-events: none;
	}

	.DFormField__label {
		margin-bottom: 0;
		transform-origin: top left;
		transition: transform .15s ease;
		transition-delay: .15s;
	}

	.DFormField__control > .DFormControl {
		padding: var(--control-padding-top) var(--control-padding-x) var(--control-padding-bottom);
	}

	&.--isFloating {
		.DFormField__label {
			transform: scale(var(--label-scale)) translateY(var(--translate-y));
			transition-delay: 0s;
		}
	}
}

.DFormField.--disabled {
	cursor: not-allowed;
	& > * {
		cursor: not-allowed;
	}
}
