<template functional>
	<div
		:class="[
			'DFormField',
			data.class,
			data.staticClass,
		{
			'--small': props.small,
			'--disabled': props.disabled,
			'--floating': props.floating,
			'--isFloating': props.isFloating,
			'--controlStyled': props.controlStyled,
			'--beforeFit': props.beforeFit,
			'--afterFit': props.afterFit,
			'--innerBeforeFit': props.innerBeforeFit,
			'--innerAfterFit': props.innerAfterFit,
			'--focus': props.isControlFocus,
			'--error': $options.hasError(props),
		}]"
	>

		<div class="DFormField__labelWrap" v-if="$slots.label || props.label">
			<div class="DFormField__label">
				<slot name="label">{{ props.label }}</slot>
			</div>
		</div>

		<div class="DFormField__beforeWrap" v-if="$slots.before">
			<div class="DFormField__before">
				<slot name="before"/>
			</div>
		</div>
		<div class="DFormField__afterWrap" v-if="$slots.after">
			<div class="DFormField__after">
				<slot name="after"/>
			</div>
		</div>


		<div class="DFormField__areaWrap">
			<div class="DFormField__area">

				<div
					class="DFormField__innerBefore"
					v-if="$slots.innerBefore"
					@mousedown="$options.handlerClick(props, 'onMouseDownArea')"
					@mouseup="$options.handlerClick(props, 'onMouseUpArea')"
				>
					<slot name="innerBefore"/>
				</div>
				<div
					class="DFormField__innerAfter"
					v-if="$slots.innerAfter"
					@mousedown="$options.handlerClick(props, 'onMouseDownArea')"
					@mouseup="$options.handlerClick(props, 'onMouseUpArea')"
				>
					<slot name="innerAfter"/>
				</div>

				<div class="DFormField__control">
					<slot name="default"/>
				</div>

				<button
					v-if="props.clearable"
					type="button"
					class="DFormField__clear"
					tabindex="-1"
					aria-disabled="true"
					@click.stop="$options.handlerClick(props, 'onClickClear')"
					@mousedown.stop="$options.handlerClick(props, 'onMouseDownClear')"
					@mouseup.stop="$options.handlerClick(props, 'onMouseUpClear')"
				>
					<div class="DFormField__clear-cross"/>
				</button>

				<div class="DFormField__loading"></div>
				<div class="DFormField__border"/>
			</div>
		</div>

		<div class="DFormField__caption" v-if="$slots.caption || props.caption">
			<slot name="caption">{{ props.caption }}</slot>
		</div>

		<div class="DFormField__errors" v-if="$options.hasError(props)">
			<div v-for="(error, i) in props.errors" :key="`error_${i}`">{{ error }}</div>
		</div>
	</div>
</template>

<script>
const typeBool = {
	type: Boolean,
	default: false,
}

export default {
	name: 'DFormField',
	props: {
		label: {
			type: String,
			default: '',
		},
		caption: {
			type: String,
			default: '',
		},
		errors: {
			type: Array,
			default: () => ([]),
		},
		disabled: typeBool,
		floating: typeBool,
		small: typeBool,
		clearable: typeBool,
		beforeFit: typeBool,
		afterFit: typeBool,
		innerBeforeFit: typeBool,
		innerAfterFit: typeBool,
		controlStyled: typeBool,
		isErrorShow: typeBool,
		isControlFocus: typeBool,
		isFloating: typeBool,
		onMouseDownArea: {
			default: null,
		},
		onMouseUpArea: {
			default: null,
		},
		onMouseDownClear: {
			default: null,
		},
		onMouseUpClear: {
			default: null,
		},
		onClickClear: {
			default: null,
		},
	},
	handlerClick(props, event) {
		const handler = props[event];
		if (handler && typeof handler === 'function') {
			handler();
		}
	},
	hasError(props) {
		return props.isErrorShow && Array.isArray(props.errors) && props.errors.length
	},
};
</script>
