<template>
	<button class="DTab" :class="{'--active': isActive}" v-dropdown:[`tabItem_${createdCounter}`]>
		<slot name="title">{{ title }}</slot>
		<d-icon class="DTab__icon" :class="{'--active': isDropdownOpen}" name="chevron-down"/>
		<d-dropdown :name="`tabItem_${createdCounter}`" @modelChange="onDropdownChange">
			<d-list class="DTabGroup" gap="l" divided space>
				<slot/>
			</d-list>
		</d-dropdown>
	</button>
</template>

<script>
let createdCounter = 0;

export default {
	name: 'DTabGroup',
	inject: {
		setTabState: {
			default: () => ({}),
		},
		tabData: {
			default: {
				activeTab: ''
			},
		}
	},
	props: {
		title: {
			type: [String, Number],
			default: '',
		}
	},
	components: {},
	data() {
		return {
			createdCounter: 0,
			isDropdownOpen: false,
		};
	},
	provide() {
		return {
			isGroup: true,
		}
	},
	computed: {
		isActive() {
			return this.childNames.includes(this.tabData.activeTab);
		},
		childNames() {
			return this.$slots.default.reduce((res, item) => {
				if (item.componentOptions && item.componentOptions.propsData.name) {
					res.push(item.componentOptions.propsData.name)
				}
				return res;
			}, [])
		},
	},
	methods: {
		onDropdownChange() {
			this.isDropdownOpen = this.isDropdownOpen ? false : true;
		}
	},
	directives: {},
	filters: {},
	watch: {},
	created() {
		this.createdCounter = ++createdCounter;
	},
	mounted() {},
};
</script>
