@use '../../assets/scss/utils/mixins';
@use '../DList/DList';

.DTab {
	@include mixins.clearButton;
	padding: 0 var(--d-gap-xl) var(--d-gap-m);
	font-size: var(--d-font-size-m);
	color: var(--d-color-text-secondary);

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		height: 1px;
		opacity: 0;
		background-color: var(--d-color-primary);
		transition: opacity .1s ease;
	}

	&:hover {
		color: var(--d-color-primary);
	}
}

.DTab__icon {
	width: 18px;
	height: 18px;
	margin-left: 8px;
}

.DTab__icon.--active {
	transform: rotate(180deg);
}

.DTab.--active {
	color: var(--d-color-primary);

	&:before {
		opacity: 1;
	}
}

.DTabGroup {
	.DTab {
		@extend .DListItem;
	}
	.DTab.DTab:not(.--active) {
		color: var(--d-color-text-secondary);
	}
	.DTab.--active {
		color: var(--d-color-primary);
		border-bottom-color: var(--d-color-primary);
		&:before {
			display: none;
		}
	}
}


.DTabs.--small {
	.DTab {
		padding: 0 var(--d-gap-l) var(--d-gap-s);
		font-size: var(--d-font-size-s);
	}
	.DTab__icon {
		width: 16px;
		height: 16px;
		margin-left: 5px;
	}
}

.DTabs.--large {
	.DTab {
		padding: 0 var(--d-gap-xxl) var(--d-gap-m);
		font-size: var(--d-font-size-l);
	}
	.DTab__icon {
		width: 20px;
		height: 20px;
		margin-left: 15px;
	}
}

.DTabs.--full {
	width: 100%;
}

.DTabs.--stretch {
	.DTab {
		flex-shrink: 1;
		flex-grow: 1;
	}
}
