@use '../../assets/scss/utils/mixins';

.DTabs {
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
	border-bottom: 1px solid var(--d-color-plate-border);
}
