<template>
	<div class="DTabs" :class="{'--small': small, '--large': large, '--full': full, '--stretch': stretch}">
		<slot/>
	</div>
</template>

<script>

export default {
	name: 'DTabs',
	model: {
		prop: 'modelValue',
		event: 'modelChange',
	},
	props: {
		modelValue: {
			type: [String, Number],
			default: null,
		},
		small: {
			type: Boolean,
			default: false,
		},
		large: {
			type: Boolean,
			default: false,
		},
		full: {
			type: Boolean,
			default: false,
		},
		stretch: {
			type: Boolean,
			default: false,
		}
	},
	components: {},
	data() {
		return {
			tempModel: '',
			tabData: {
				activeTab: ''
			},
		};
	},
	provide() {
		return {
			setTabState: this.setTabState,
			tabData: this.tabData,
		}
	},
	computed: {},
	methods: {
		updateTabData() {
			this.tabData.activeTab = this.modelValue;
		},
		setTabState(name) {
			this.$emit('modelChange', name);
		},
	},
	directives: {},
	filters: {},
	watch: {
		modelValue() {
			this.updateTabData();
		}
	},
	created() {
		this.updateTabData();
	},
	mounted() {},
};
</script>
