<template>
	<component
		class="DTab"
		:class="{'--active': isActive, 'DListItem': isGroup}"
		:is="tabTag"
		:type="tagType"
		:to="to"
		:href="href"
		@click="onTabClick"
	>
		<slot>{{ name }}</slot>
	</component>
</template>

<script>
export default {
	name: 'DTab',
	inject: {
		setTabState: {
			default: () => ({}),
		},
		tabData: {
			default: {
				activeTab: ''
			},
		},
		isGroup: {
			default: false,
		},
	},
	props: {
		name: {
			type: [String, Number],
			default: '',
		},
		type: {
			default: 'button'
		},
		to: {
			default: undefined,
		},
		href: {
			default: undefined,
		},
	},
	components: {},
	data() {
		return {};
	},
	computed: {
		isActive() {
			return this.tabData.activeTab === this.name;
		},
		tabTag() {
			return  this.to ? 'nuxt-link' : this.href ? 'a' : 'button';
		},
		tagType() {
			return this.tabTag === 'button' ? this.type : undefined;
		},
	},
	methods: {
		onTabClick() {
			this.setTabState(this.name);
		},
	},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
