<template>
	<DFormField v-bind="formFieldProps"  control-styled>
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #innerAfter><slot name="innerAfter"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		DFormControl

	</DFormField>
</template>

<script>
import DFormField from '../DFormField/DFormField';
const typeBool = {
	type: Boolean,
	default: false,
}

let createdCounter = 0;
const nullVal = Symbol('null');
export default {
	name: 'DFormControl',
	inheritAttrs: false,
	model: {
		prop: 'modelValue',
		event: 'modelChange'
	},
	props: {
		modelValue: {
			default: nullVal,
		},
		placeholder: {
			type: String,
			default: undefined,
		},
		autocomplete: {
			type: String,
			default: 'off',
		},
		type: {
			type: String,
			default: 'text',
		},
		disabled: typeBool,
		readonly: typeBool,
		floating: typeBool,
		controlClass: {
			type: [String, Object],
			default: '',
		},
		controlStyle: {
			type: String,
			default: '',
		},
		defaultModel: {
			default: '',
		},
		label: DFormField.props.label,
		caption: DFormField.props.caption,
		errors: DFormField.props.errors,
		small: DFormField.props.small,
		clearable: DFormField.props.clearable,
		beforeFit: DFormField.props.beforeFit,
		afterFit: DFormField.props.afterFit,
		innerBeforeFit: DFormField.props.innerBeforeFit,
		innerAfterFit: DFormField.props.innerAfterFit,
	},
	components: {},
	data() {
		++createdCounter
		return {
			tempModel: '',
			isErrorShow: true,
			isControlFocus: false,
		};
	},
	computed: {
		safeModel() {
			return this.modelValue === nullVal ? (this.tempModel || this.defaultModel) : this.modelValue;
		},
		innerModel: {
			get() {
				return this.safeModel;
			},
			set(val) {
				this.tempModel = val;
				this.isErrorShow = false;
				this.$emit('modelChange', val);
			}
		},
		formFieldEvents() {
			return {
				onClickClear: this.clearInput,
				onMouseUpArea: this.focus,
				onMouseDownArea: this.focus,
				onMouseUpClear: this.onMouseClear,
				onMouseDownClear: this.onMouseClear,
			}
		},
		isNeedClear() {
			if (this.innerModel !== this.defaultModel) {
				if (Array.isArray(this.innerModel)) {
					return this.innerModel.length !== 0;
				}
				return true;
			}
		},
		isFloating() {
			return Boolean(this.innerModel) || this.isControlFocus || Boolean(this.placeholder);
		},
		formFieldProps () {
			return {
				...this.formFieldEvents,
				label: this.label,
				caption: this.caption,
				disabled: this.disabled,
				floating: this.floating,
				errors: this.errors,
				small: this.small,
				clearable: this.isNeedClear && this.clearable,
				beforeFit: this.beforeFit,
				afterFit: this.afterFit,
				innerBeforeFit: this.innerBeforeFit,
				innerAfterFit: this.innerAfterFit,
				isErrorShow: this.isErrorShow,
				isControlFocus: this.isControlFocus,
				isFloating: this.isFloating,
			};
		},
		controlListeners() {
			return {
				...this.$listeners,
				focus: (evt) => {
					this.$emit('focus', evt);
					this.isControlFocus = true;
				},
				blur: (evt) => {
					this.$emit('blur', evt);
					this.isControlFocus = false;
				},
			}
		},
		controlAttrs() {
			return {
				...this.$attrs,
				readonly: this.readonly,
				disabled: this.disabled,
				placeholder: this.placeholder,
				autocomplete: this.autocomplete,
				type: this.type,
			};
		},
		controlEl() {
			return this.$refs.control
		},
	},
	methods: {
		clearInput() {
			if (!this.clearable) return;
			this.innerModel = this.defaultModel;
			this.$emit('clear');
		},
		focus() {
			setTimeout(() => {
				this.controlEl.focus();
			})
		},
		onMouseClear() {
			if (!this.controlEl) return;
			if (this.controlEl !== document.activeElement) return;
			this.focus();
		}
	},
	directives: {},
	filters: {},
	watch: {
		errors() {
			this.isErrorShow = true;
		},
	},
	created() {},
	mounted() {
		this.$el.focus = this.focus;
	}
};
</script>
