@use '../../assets/scss/utils/mixins';

.DFormControl {
	@include mixins.clearFormControl;
}

// Срывает стили полей с автозаполнением
.DFormControl:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}

.DFormControl__icon {
	color: var(--d-color-text-secondary);
}
