<template>
	<DFormField class="DFormField--textarea" v-bind="formFieldProps" control-styled>
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #innerAfter><slot name="innerAfter"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		<textarea
			:class="['DFormTextarea', controlClass]"
			:style="controlStyle"
			:disabled="disabled"
			:placeholder="placeholder"
			v-bind="controlAttrs"
			v-on="controlListeners"
			:value="innerModel"
			@input="onNativeInput"
			ref="control"
		></textarea>
		<div class="DFormTextareaMax" v-if="max">{{currentLength}} / {{max}}</div>
	</DFormField>
</template>

<script>
import autosize from 'autosize/src/autosize';
import DFormControl from '../DFormControl/DFormControl';

export default {
	name: 'DFormTextarea',
	extends: DFormControl,
	props: {
		max: {
			type: [String, Number],
			default: undefined,
		}
	},
	components: {},
	data() {
	 return {};
	},
	computed: {
		currentLength() {
			if (!this.innerModel) return 0;
			return [...this.innerModel].length;
		},
	},
	methods: {
		onNativeInput(evt) {
			const max = Number(this.max);
			const value = evt.target.value;
			if (max) {
				const arrayValue = [...value];
				if (arrayValue.length > max) {
					evt.target.value = arrayValue.slice(0, max).join('');
				}
			}
			this.innerModel = evt.target.value;
		},
	},
	directives: {},
	filters: {},
	watch: {},
	updated() {
		autosize.update(this.controlEl);
	},
	mounted() {
		this.$nextTick(() => {
			autosize(this.controlEl);
		})
	},
	beforeDestroy() {
		autosize.destroy(this.controlEl);
	}
};
</script>
