@use '../DFormControl/DFormControl';

.DFormTextarea {
	@extend .DFormControl;
	display: block;
	max-height: 190px;
	overflow: auto;
	resize: none;
	padding: 0 var(--control-padding-x);
}

.DFormField--textarea.--controlStyled {
	.DFormField__area {
		padding: var(--d-gap-m) 0;
	}
}

.DFormTextareaMax.DFormTextareaMax {
	min-height: 0;
	padding: 0;
	position: absolute;
	bottom: -20px;
	right: 5px;
	font-size: var(--d-font-size-s);
	color: var(--d-color-text-secondary);
}

.DFormField--textarea.--floating {
	.DFormField__area {
		padding: 20px 0 var(--d-gap-m);
	}
	.DFormTextarea {

	}
}
