<template>
	<DFormField v-bind="formFieldProps" control-styled>
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #innerAfter><slot name="innerAfter"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		<d-form-mask
			v-bind="currentAttrs"
			v-on="controlListeners"
			v-model="maskModel"
			ref="control"
		/>

	</DFormField>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';

export default {
	name: 'DFormInput',
	extends: DFormControl,
	props: {
		mask: {
			type: Object,
			default: null,
		},
		min: {
			type: [String, Number],
			default: null,
		},
		max: {
			type: [String, Number],
			default: null,
		},
		number: {
			type: Boolean,
			default: false,
		},
		signed: {
			type: Boolean,
			default: false,
		},
		scale: {
			type: [Number, String],
			default: 0,
		},
		radix: {
			type: String,
			default: ',',
		},
		mapToRadix: {
			type: Array,
			default: () => ['.'],
		},
		phone: {
			type: Boolean,
			default: false,
		},
	},
	components: {},
	data() {
		return {
			maskPhone: {
				mask: '+{7} (000) 000-00-00',
				unmask: true,
				prepare(appended, masked) {
					const isEmpty = masked.value === '' || masked.value === '+';
					if (isEmpty && appended === '8') return '';
					return appended;
				},
			},
			maskNumber: {
				mask: Number,
				unmask: true,
				scale: Number(this.scale) || 0,
				radix: this.radix,
				mapToRadix: this.mapToRadix,
				signed: this.signed,
				min: this.min !== null ? Number(this.min) : undefined,
				max: this.max !== null ? Number(this.max) : undefined,
			},
			binding: {
				class: ['DFormControl', this.controlClass],
				style: this.controlStyle,
			},
		};
	},
	computed: {
		maskModel: {
			get() {
				if (this.number) {
					return this.numberToString(this.innerModel);
				}
				return this.innerModel;
			},
			set(value) {
				if (this.number) {
					this.innerModel = this.stringToNumber(value);
				} else {
					this.innerModel = value;
				}
			},
		},
		controlEl() {
			return this.$refs.control && this.$refs.control.$el;
		},
		currentAttrs() {
			let currentMask = null;

			if (this.mask) currentMask = this.mask;
			else if (this.phone) currentMask = this.maskPhone;
			else if (this.number) currentMask = this.maskNumber;

			return Object.assign({}, this.controlAttrs, this.binding, {
				mask: currentMask,
			});
		},
	},
	methods: {
		stringToNumber(value) {
			switch (value) {
				case '0':
					return 0;
				case '-0':
					return -0;
				case '':
					return this.defaultModel;
				default:
					return Number(value);
			}
		},
		numberToString(value) {
			if (value === 0 && 1/value === Infinity) {
				return '0';
			} else if (value === -0 && 1/value === -Infinity) {
				return '-0';
			} else if (value) {
				 return String(value);
			 } else {
				return ''
			}
		},
	},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
