@use '../DFormCheck/DFormCheck';

.DFormRadio {
	@extend .DFormCheck;
	--border-width: calc(var(--element-size) / 3);
}
.DFormRadio__input {
	@extend .DFormCheck__input;
}
.DFormRadio__box {
	@extend .DFormCheck__box;
	border-radius: var(--element-size);
}

.DFormRadio__box:before {
	display: none;
}

.DFormRadio__input:checked ~ .DFormRadio__box {
	background-color: var(--d-color-light);
	border-width: var(--border-width);
}

.DFormRadio__content {
	@extend .DFormCheck__content;
}
.DFormRadio__label {
	@extend .DFormCheck__label;
}
.DFormRadio__caption {
	@extend .DFormCheck__caption;
}
.DFormRadio__errors {
	@extend .DFormCheck__errors;
}

.DFormRadio.--disabled {
	.DFormRadio__input:checked ~ .DFormRadio__box {
		background-color: var(--d-color-dark);
		border-color: var(--d-color-plate-border);
	}
}

