<template>
	<label
		class="DFormRadio"
		:class="{
		'--error': isErrorShow && errors && errors.length,
		'--disabled': disabled,
		'--small': small,
	}"
	>
		<input
			class="DFormRadio__input"
			ref="control"
			:value="value"
			v-bind="controlAttrs"
			v-on="controlListeners"
			v-model="innerModel"
			:disabled="disabled || readonly"
			type="radio"
		>

		<div class="DFormRadio__box">
			<slot name="mark"/>
		</div>

		<div class="DFormRadio__content">
			<div class="DFormRadio__label" v-if="label || $slots.label">
				<slot name="label">{{label}}</slot>
			</div>
			<div class="DFormRadio__caption" v-if="caption || $slots.caption">
				<slot name="caption">{{caption}}</slot>
			</div>
			<template v-if="isErrorShow && errors && errors.length">
				<div class="DFormRadio__errors">
					<div v-for="(error, i) in errors" :key="`error_${error}_${i}`">{{error}}</div>
				</div>
			</template>
		</div>
	</label>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';

export default {
	name: 'DFormRadio',
	extends: DFormControl,
	props: {
		value: {
			default: true
		},
	},
	components: {},
	data() {
	 return {};
	},
	computed: {
		formFieldEvents() {},
		formFieldProps() {},
	},
	methods: {},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
