:root {
  --d-font-family: 'IBM Plex Sans', sans-serif;
  --d-line-height: 1.4;
  --d-line-height-h1: 1.2;
  --d-line-height-h2: 1.3;
  --d-line-height-h3: 1.3;
  --d-header-height: 50px;
  --d-font-weight-light: 400;
  --d-font-weight-normal: 400;
  --d-font-weight-bold: 500;
  --d-font-size-xxxl: 32px;
  --d-font-size-xxl: 26px;
  --d-font-size-xl: 18px;
  --d-font-size-l: 16px;
  --d-font-size-m: 14px;
  --d-font-size-s: 12px;
  --d-font-size-xs: 10px;
  --d-color-primary: #2F80ED;
  --d-color-primary-rgb: 47, 128, 237;
  --d-color-success: #169449;
  --d-color-success-rgb: 22, 148, 73;
  --d-color-accent: #FD9426;
  --d-color-accent-rgb: 253, 148, 38;
  --d-color-danger: #E23135;
  --d-color-danger-rgb: 226, 49, 53;
  --d-color-info: #86CEFE;
  --d-color-info-rgb: 134, 206, 254;
  --d-color-dark: #000000;
  --d-color-dark-rgb: 0, 0, 0;
  --d-color-light: #FFFFFF;
  --d-color-light-rgb: 255, 255, 255;
  --d-color-plate-bg: #F5F5F7;
  --d-color-plate-bg-rgb: 245, 245, 247;
  --d-color-plate-border: #D9D9DE;
  --d-color-plate-border-rgb: 217, 217, 222;
  --d-color-plate-border-light: #E5E5EA;
  --d-color-plate-border-light-rgb: 229, 229, 234;
  --d-color-text-main: #000000;
  --d-color-text-main-rgb: 0, 0, 0;
  --d-color-text-secondary: #909399;
  --d-color-text-secondary-rgb: 144, 147, 153;
  --d-color-text-placeholder: #C0C4CC;
  --d-color-text-placeholder-rgb: 192, 196, 204;
  --d-shadow-bottom-line: 0 2px 0 rgba(0, 0, 0, 0.05);
  --d-shadow-simple: 0 3px 5px rgba(0, 0, 0, 0.2);
  --d-gap-xxxl: 68px;
  --d-gap-xxl: 42px;
  --d-gap-xl: 24px;
  --d-gap-l: 16px;
  --d-gap-m: 10px;
  --d-gap-s: 6px;
  --d-gap-xs: 4px;
  --d-gap-xxs: 2px;
  --d-gap-0: 0;
  --d-size-xl: 100px;
  --d-size-l: 56px;
  --d-size-m: 40px;
  --d-size-s: 32px;
  --d-size-xs: 24px;
  --d-size-xxs: 16px;
  --d-radius-l: 8px;
  --d-radius-m: 4px;
  --d-global-layout-gap: var(--d-gap-xxl);
}