$common: (
	font-family: "'IBM Plex Sans', sans-serif",
	line-height: 1.4,
	line-height-h1: 1.2,
	line-height-h2: 1.3,
	line-height-h3: 1.3,
	header-height: 50px,
) !default;

$shadow: (
	bottom-line: 0 2px 0 rgba(0, 0, 0, 0.05),
	simple: 0 3px 5px rgba(0, 0, 0, 0.2),
) !default;

$radius: (
	l: 8px,
	m: 4px,
);

$font-sizes: (
	xxxl: 32px,
	xxl: 26px,
	xl: 18px,
	l: 16px,
	m: 14px,
	s: 12px,
	xs: 10px,
) !default;

$font-weights: (
	light: 400,
	normal: 400,
	bold: 500,
) !default;

// SCSS рекомендует всегда заключать имена цветов в кавычки
$colors: (
	'primary': #2F80ED,
	'success': #4caf50,
	'accent': #FD9426,
	'danger': #ff5252,
	'info': #86CEFE,
	'dark': #000000,
	'light': #FFFFFF,
	'plate-bg': #F5F5F7,
	'plate-border': #D9D9DE,
	'plate-border-light': #E5E5EA,
	'text-main': #000000,
	'text-secondary': #909399,
	'text-placeholder': #C0C4CC,
) !default;

$gaps: (
	xxxl: 68px,
	xxl: 42px,
	xl: 24px,
	l: 16px,
	m: 10px,
	s: 6px,
	xs: 4px,
	xxs: 2px,
	0: 0,
) !default;

$sizes: (
	xl: 100px,
	l: 56px,
	m: 40px,
	s: 32px,
	xs: 24px,
	xxs: 16px,
);

$breakpoints: (
	xxs: 400,
	xs: 480,
	s: 640,
	m: 768,
	l: 960,
	xl: 1080,
	xxl: 1180,
	xxxl: 1430,
) !default;

$column: 12;
