@use '../utils/mixins';

.d-link {
	@include mixins.clearLink;
	color: var(--d-color-primary);
	opacity: 1;
	transition: opacity .1s;
	&:hover {
		opacity: .5;
	}
	&[disabled] {
		opacity: .4;
		pointer-events: none;
	}
}
.d-link.active:not(.d-link--exact),
.d-link.activeExact {
	color: var(--d-color-text-secondary);
	&:hover {
		opacity: 1;
	}
}
