.d-row {
	--top-gap: 48px;
}

.d-row-l {
	--top-gap: 64px;
}

.d-row-xl {
	--top-gap: 80px;
}

.d-row-s {
	--top-gap: 36px;
}

.d-row-xs {
	--top-gap: 20px;
}

.d-row-xxs {
	--top-gap: 10px;
}

[class*="d-row"] + [class*="d-row"] {
	margin-top: var(--top-gap);
}
