%title-default {
	font-weight: var(--d-font-weight-bold);
	margin: 0;
}

.d-text-title {
	@extend %title-default;
	font-size: var(--d-font-size-xxl);
	line-height: var(--d-line-height-h1);
}
.d-text-title-s {
	@extend %title-default;
	font-size: var(--d-font-size-xl);
	line-height: var(--d-line-height-h2);
}
.d-text-title-xs {
	@extend %title-default;
	font-size: var(--d-font-size-l);
	line-height: var(--d-line-height-h3);
}
.d-text-title-xxs {
	@extend %title-default;
	font-size: var(--d-font-size-m);
	line-height: var(--d-line-height);
}

.d-text-body {
	font-size: var(--d-font-size-m);
}
.d-text-body-s {
	font-size: var(--d-font-size-s);
}
.d-text-body-xs {
	font-size: var(--d-font-size-xs);
}

.d-text-c-primary {
	color: var(--d-color-primary);
}
.d-text-c-main {
	color: var(--d-color-text-main);
}
.d-text-c-success {
	color: var(--d-color-success);
}
.d-text-c-danger {
	color: var(--d-color-danger);
}
.d-text-c-accent {
	color: var(--d-color-accent);
}
.d-text-c-info {
	color: var(--d-color-info);
}
.d-text-c-secondary {
	color: var(--d-color-text-secondary);
}
.d-text-c-placeholder {
	color: var(--d-color-text-placeholder);
}
