@use '../utils/mixins';
@use './text';
@use './link';
@use '../../../components/DButton/DButton';
@use '../../../components/DTable/DTable';

/*! purgecss start ignore */
.d-typo {
	color: var(--d-color-text-main);
	font-family: var(--d-font-family);
	font-size: var(--d-font-size-m);
	font-weight: var(--d-font-weight-normal);
	line-height: var(--d-line-height);
	word-wrap: break-word;
	br {
		display: block;
		margin: 0;
	}
	* {
		margin: 0 0 var(--d-gap-l);
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1,
	h2,
	h3,
	h4 {
		@extend %title-default;
		margin: 1.5em 0 .8em;
	}
	a {
		@extend .d-link;
	}
	button {
		@extend .DButton;
	}
	h1 {
		@extend .d-text-title;
	}
	h2 {
		@extend .d-text-title-s;
	}
	h3 {
		@extend .d-text-title-xs;
	}
	h4 {
		@extend .d-text-title-xxs;
	}
	img {
		display: inline-block;
		max-width: 100%;
		vertical-align: middle;
		border-radius: var(--d-border-radius-m);
		overflow: hidden;
	}
	img:not(:first-child) {
		margin-top: var(--d-gap-l);
	}
	blockquote {
		padding: var(--d-gap-xs) var(--d-gap-m);
		border-radius: var(--d-radius-m);
		border: 1px solid var(--d-color-plate-border-light);
		border-left: var(--d-gap-s) solid var(--d-color-plate-border-light);
		//background-color: var(--d-color-plate-bg);
	}
	ul, ol {
		padding: 0;
		ul, ol {
			padding-left: var(--d-gap-l);
			li:first-child {
				margin-top: var(--d-gap-s);
			}
		}
	}
	li {
		margin-bottom: var(--d-gap-s);
		display: block;
		&:before {
			content: "";
			display: inline-block;
			vertical-align: baseline;
		}
	}
	// dot
	ul {
		& > li {
			&:before {
				vertical-align: middle;
				margin-right: calc(var(--d-gap-m) + 8px);
				width: 6px;
				height: 6px;
				margin-top: -2px;
				border-radius: 4px;
				background-color: #000 !important;
			}
		}
	}
	// number
	ol {
		counter-reset: a;
		& > li {
			&:before {
				min-width: 14px;
				counter-increment: a;
				content: counters(a, '.') '.';
				margin-right: var(--d-gap-m);
			}
		}
	}
	table {
		@extend .DTable;
	}
}
/*! purgecss end ignore */
