<template>
	<d-progress class="DUploadIndicator" :current="loaded" :total="total">
		<template #top>
			<div class="DUploadIndicator__title" v-if="isDone">Обработка</div>
			<div class="DUploadIndicator__title" v-else>Загрузка</div>
		</template>
		<template #left>
			<div>{{humanLoaded}} / {{humanTotal}}</div>
		</template>
		<template #right>
			<div>{{percent}} %</div>
		</template>
	</d-progress>
</template>

<script>
export default {
	name: 'DUploadIndicator',
	props: {},
	components: {},
	data() {
		return {
			loaded: 0,
			total: 0,
		};
	},
	computed: {
		humanLoaded() {
			return this.$dUtils.humanFileSize(this.loaded);
		},
		humanTotal() {
			return this.$dUtils.humanFileSize(this.total);
		},
		isDone() {
			return this.loaded > 0 && this.loaded === this.total;
		},
		percent() {
			if (this.loaded <= 0) {
				return 0;
			}
			if (this.loaded >= this.total) {
				return 100;
			}
			return Math.round(this.loaded * 100 / this.total);
		},
	},
	methods: {
		processing(ev) {
			this.loaded = ev.loaded;
			this.total = ev.total;
		},
	},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
