@use '../../assets/scss/utils/mixins';

.DLabel {
	--size-icon: 16px;
	--size: 24px;
	--padding-x: 16px;
	--padding-y: 4px;
	--color: var(--d-color-plate-bg);
	--color-second: var(--d-color-text-main);
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	vertical-align: middle;
	min-height: var(--size);
	padding: var(--padding-y) var(--padding-x);
	border-radius: var(--d-radius-m);
	background-color: var(--color);
	color: var(--color-second);
	font-size: var(--d-font-size-s);
}

.DLabel__icon {
	order: 1;
	display: block;
	width: var(--size-icon);
	height: var(--size-icon);
	margin-left: calc(-1 * var(--padding-x) / 1.5);
	margin-right: calc(var(--padding-x) / 3);
}

.DLabel__content {
	display: block;
	order: 2;
}

.DLabel__close {
	@include mixins.clearButton;
	order: 3;
	position: absolute;
	width: var(--size);
	height: var(--size);
	padding: var(--padding-y);
	right: 0;
	top: 0;
	border-radius: var(--d-radius-m);
	transition: all .1s ease;
	&:hover {
		opacity: .5;
	}
}

.DLabel__close ~ .DLabel__content {
	padding-right: calc(var(--padding-x) / 1.5);
}

.DLabel.--small {
	--size: 18px;
	--size-icon: 12px;
	--padding-x: 12px;
	--padding-y: 2px;
	font-size: var(--d-font-size-xs);
}

.DLabel.--outline,
.DLabel.--simple {
	--color: var(--d-color-text-main);
}

.DLabel.--c-primary,
.DLabel.--c-info,
.DLabel.--c-success,
.DLabel.--c-accent,
.DLabel.--c-danger {
	--color-second: var(--d-color-light);
}

.DLabel.--c-primary {
	--color: var(--d-color-primary);
}
.DLabel.--c-info {
	--color: var(--d-color-info);
}
.DLabel.--c-success {
	--color: var(--d-color-success);
}
.DLabel.--c-accent {
	--color: var(--d-color-accent);
}
.DLabel.--c-danger {
	--color: var(--d-color-danger);
}

.DLabel.--outline {
	background-color: var(--d-color-light);
	color: var(--color);
	border: 1px solid var(--color);
}

.DLabel.--simple {
	padding: 0;
	min-height: 0;
	background-color: transparent;
	color: var(--color);
	.DLabel__icon {
		margin-left: 0;
	}
	.DLabel__close {
		position: static;
		padding: 0 var(--padding-y);
	}
	.DLabel__close ~ .DLabel__content {
		padding-right: 0;
	}
}
