@use '../DFormField';

.DFormCode {
	--gap: var(--d-gap-xs);

	.DFormControl {
		text-align: center;
	}
}

.DFormCode__inputs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	margin: 0 calc(-1 * var(--gap)) calc(-1 * var(--gap));

	.DFormField {
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 var(--gap) var(--gap);
	}

	.DFormField__errors {
		display: none;
	}
}

.DFormCode__errors {
	@extend .DFormField__caption;
	grid-area: errors;
	margin-top: 4px;
	margin-bottom: -22px;
	color: var(--d-color-danger);
}
