<template>
	<div class="DFormCode">
		<div class="DFormCode__inputs">
			<d-form-input
				v-for="(k, i) in modelLength"
				:key="`code_${i}`"
				number
				:min="0"
				:max="9"
				ref="input"
				pattern="[0-9]*"
				inputmode="numeric"
				:errors="currentErrors"
				:modelValue="modelCode[i]"
				@modelChange="onInput(i, $event)"
				@focus="onFocusInput(i)"
				@keydown="onKeyDown(i, $event)"
				@keyup="onKeyUp(i, $event)"
			/>
		</div>
		<div class="DFormCode__errors" v-if="errors.length && isErrorShow">
			<div class="DFormCode__error" v-for="error in errors">
				{{ error }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DFormCode',
	props: {
		value: {
			type: String,
			default: '',
		},
		length: {
			type: [Number, String],
			default: 4,
		},
		errors: {
			type: Array,
			default: () => [],
		},
	},
	components: {},
	data() {
		return {
			isErrorShow: true,
			modelCode: {},
			lockKeyPress: false,
			numberKeys: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'],
			keyCodeMap: {
				8: 'Backspace',
				37: 'ArrowLeft',
				39: 'ArrowRight',
				48: '0',
				49: '1',
				50: '2',
				51: '3',
				52: '4',
				53: '5',
				54: '6',
				55: '7',
				56: '8',
				57: '9',
			},
			tempValue: '',
		};
	},
	computed: {
		currentErrors() {
			return this.isErrorShow ? this.errors : [];
		},
		modelLength() {
			return Number(this.length);
		},
	},
	methods: {
		createModel() {
			for (let i = 0; i < this.modelLength; i++) {
				this.$set(this.modelCode, i, '');
			}
		},

		getKey(event) {
			if (event.key) return event.key;
			const code = event.keyCode;
			return this.keyCodeMap[code];
		},

		keyHandler(idx, key) {
			if (key === 'ArrowLeft') {
				this.setInputFocus(idx - 1);
			} else if (key === 'ArrowRight') {
				this.setInputFocus(idx + 1);
			} else if (key === 'Backspace') {
				this.removeInput(idx);
			} else if (this.numberKeys.includes(key)) {
				this.addInput(idx, key);
			}
		},

		onInput(idx, value) {
			this.tempValue = String(value);
		},

		onKeyUp(idx, event) {
			// Костыль, на некоторых клавиатурах (Android) event.key === 'Unidentified' и event.keyCode === 229, при нажатии любых символов
			let key = this.getKey(event);
			if (key !== 'Unidentified') return;
			key = this.tempValue;
			this.tempValue = '';
			this.keyHandler(idx, key);
		},

		onKeyDown(idx, event) {
			let key = this.getKey(event);
			if (key === 'Unidentified') return;
			this.keyHandler(idx, key);
		},

		removeInput(idx) {
			if (this.modelCode[idx]) {
				this.modelCode[idx] = '';
			} else if (this.modelCode[idx - 1]) {
				this.modelCode[idx - 1] = '';
				this.setInputFocus(idx - 1);
			}
			this.emitModelCode();
			this.isErrorShow = false;
		},

		addInput(idx, value) {
			this.modelCode[idx] = String(value);
			this.setInputFocus(idx + 1);
			this.emitModelCode();
			this.isErrorShow = false;
		},

		getFirstEmptyIndex() {
			const index = Object.keys(this.modelCode).reduce((acc, k) => {
				if (acc !== -1) return acc;
				if (this.modelCode[k] === '') return Number(k);
				return acc;
			}, -1);
			return index === -1 ? 0 : index;
		},

		setInputFocus(index = 0) {
			if (index >= 0 && index <= this.modelLength - 1) {
				this.$refs.input[index].focus();
			}
		},

		setFirstEmptyInputFocus() {
			this.setInputFocus(this.getFirstEmptyIndex());
		},

		onFocusInput(idx) {
			this.$refs.input[idx].controlEl.select();
		},

		updateModelCode(value) {
			let updated = false;
			Object.keys(this.modelCode).forEach((_, i) => {
				const newValue = value[i] || '';
				const oldValue = this.modelCode[i];
				if (newValue !== oldValue) {
					this.modelCode[i] = newValue;
					updated = true;
				}
			});
			return updated;
		},

		emitModelCode() {
			const codeString = Object.keys(this.modelCode).reduce((acc, k) => acc + (this.modelCode[k] || ' '), '');
			const currentValue = codeString.trimRight();
			this.$emit('input', currentValue);
			if (currentValue.replaceAll(' ', '').length === this.modelLength) {
				this.$emit('complete', currentValue);
			}
		},
	},
	watch: {
		value(newValue, oldValue) {
			if (newValue === oldValue) return;
			const updated = this.updateModelCode(newValue);
			updated && this.setFirstEmptyInputFocus();
		},
		errors() {
			this.isErrorShow = true;
		},
	},
	created() {
		this.createModel();
		this.updateModelCode(this.value);
	},
	async mounted() {
		await this.$nextTick();
		this.setFirstEmptyInputFocus();
	},
};
</script>
