@use '../../assets/scss/utils/mixins';
@use '../DModal/DModalContainer';

@keyframes animation-open {
	0% {
		opacity: 0;
		transform: translateX(10%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes animation-close {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
	100% {
		opacity: 0;
		transform: translateX(20%);
	}
}

.DDrawerContainer {}
.DDrawerContainer__overlay {}

.DDrawerContainer__error,
.DDrawerContainer__loading {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--d-color-text-placeholder);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.DDrawerContainer__error {
	opacity: 1;
}
.DDrawerContainer__main {
	position: fixed;
	z-index: 900;
	top: 10px;
	right: 10px;
	bottom: 10px;
	background-color: #fff;
	box-shadow: var(--d-shadow-simple);
	border-radius: var(--d-radius-m);
	overflow: hidden;
}

.DDrawerContainer__content {
	height: 100%;
	opacity: 0;
}

.DDrawerContainer__close {
	@extend .DModalContainer__close;
}

.isContainerReady {
	.DDrawerContainer__loading {
		opacity: 1;
		transition: opacity .2s ease .2s;
	}
}
.isComponentReady {
	.DDrawerContainer__content {
		opacity: 1;
	}
}

.--animation-open {
	animation-name: animation-open;
	animation-duration: .16s;
	animation-fill-mode: forwards;
}
.--animation-close {
	animation-name: animation-close;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}
.--animation-open.--animation-force {
	animation-duration: 0s;
}
