<template>
	<div class="DDrawerContainer" :class="[rootClass, { isContainerReady, isComponentReady }]">
		<div class="DDrawerContainer__overlay" @click="onClickClose"/>

		<div
			class="DDrawerContainer__main"
			:class="{
				'--animation-open': animation.open,
				'--animation-close': animation.close,
				'--animation-force': animationForce,
			}"
			:style="{top: drawerOffset}"
			@animationend="onAnimation"
			ref="container"
		>

			<button class="DDrawerContainer__close" @click="onClickClose">
				<d-icon name="x"/>
			</button>

			<div class="DDrawerContainer__loading" v-if="!isComponentReady">
				<d-spinner size="40"/>
			</div>

			<div class="DDrawerContainer__error" v-if="isError">
				<d-alert danger>Ошибка загрузки</d-alert>
			</div>

			<div class="DDrawerContainer__content" v-else>
				<component
					:is="asyncComponent"
					v-bind="drawerProps"
				/>
			</div>

		</div>
	</div>
</template>

<script>
import DModalContainer from '../DModal/DModalContainer';

export default {
	name: 'DDrawerContainer',
	extends: DModalContainer,
	props: {
		animationForce: {
			type: Boolean,
			default: false,
		},
		anchor: {
			type: [String, Object],
			default: null,
		},
		drawerPath: {
			type: String,
			default: '',
		},
		drawerProps: {
			type: Object,
			default: () => ({}),
		},
		rootClass: {
			type: [String, Array, Object],
			default: '',
		},
	},
	components: {},
	data() {
		return {
			closeParams: null,
			anchorElement: null,
			drawerOffsetDefault: 0,
			drawerOffset: undefined,
			animation: {
				open: false,
				close: false,
			},
		};
	},
	computed: {},
	methods: {
		setDrawerOffset() {
			if (!this.anchorElement) return;
			const rect = this.anchorElement.getBoundingClientRect();
			if (rect.bottom > 0) {
				this.drawerOffset = `${this.drawerOffsetDefault + rect.bottom}px`;
			} else {
				this.drawerOffset = `${this.drawerOffsetDefault}px`;
			}
		},

		setAnchorElement() {
			if (!this.anchor) return;

			if (typeof this.anchor === 'string') {
				this.anchorElement = document.querySelector(this.anchor);
			}

			if (this.anchor instanceof HTMLElement) {
				this.anchorElement = this.anchor;
			}

			const style = window.getComputedStyle(this.$refs.container);
			this.drawerOffsetDefault = parseFloat(style.top);
		},

		setClose(props = null) {
			this.animation.open = false;
			this.animation.close = true;
			this.closeParams = props;
		},

		onWindowScroll() {
			requestAnimationFrame(this.setDrawerOffset);
		},
		onAnimationClose() {
			this.$close(this.closeParams);
		},
		onAnimation(evt) {
			if (evt.animationName === 'animation-close') {
				this.onAnimationClose();
			}
		},
		importComponent() {
			return import(`@/drawers/${this.drawerPath}`);
		},
		preInit() {},
	},
	directives: {},
	filters: {},
	watch: {
		'$route.name'() {
			this.$close();
		},
	},
	created() {},
	async mounted() {
		this.animation.open = true;
		this.setAnchorElement();
		if (this.anchor) {
			this.setDrawerOffset();
			window.addEventListener('scroll', this.onWindowScroll, {passive: true});
		}
		window.addEventListener('keydown', this.onEventGlobal);
	},
	beforeDestroy() {},
	destroyed() {
		window.removeEventListener('click', this.onEventGlobal);
		window.removeEventListener('scroll', this.onWindowScroll);
	},
};
</script>
