@use '../../assets/scss/variables';
@use '../../assets/scss/utils/mixins';

.DList {
	--gap-x: 0px;
	--gap-y: 0px;
	display: block;
	width: 100%;
}

.DListItem {
	--item-color-default: var(--d-color-text-main);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: calc(var(--gap-y) / 4) var(--gap-x);
	color: var(--item-color-custom, var(--item-color-default));
}

.DListItem:first-child {
	padding-top: 0;
}
.DListItem:last-child {
	padding-bottom: 0;
}

button.DListItem {
	@include mixins.clearButton;
	color: var(--item-color-custom, var(--item-color-default));
}
a.DListItem {
	@include mixins.clearLink;
	color: var(--item-color-custom, var(--item-color-default));
}

button.DListItem,
a.DListItem {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	text-align: left;
	padding: calc(var(--gap-y) / 4) var(--gap-x);
	&:hover {
		--item-color-default: var(--d-color-primary);
	}
}

.DListItem.DListItem.--active,
.DListItem.DListItem.--exact.activeExact,
.DListItem.DListItem:not(.--exact).active {
	color: var(--d-color-text-secondary);
	//pointer-events: none;
}

.DList.--divided {
	.DListItem {
		padding: calc(var(--gap-y) / 2) var(--gap-x);
		border-bottom: 1px solid var(--d-color-plate-border-light);
	}
	.DListItem:last-child {
		border-bottom: 0;
	}
	button.DListItem,
	a.DListItem {
		--item-color-default: var(--d-color-primary);
		&:hover {
			opacity: 1;
			background-color: var(--d-color-plate-bg);
		}
	}
}


.DList.--space {
	.DListItem {
		padding: calc(var(--gap-y) / 2) calc(var(--gap-x) / 4);
		border-left: calc(var(--gap-x) * 2) solid transparent;
		border-right: calc(var(--gap-x) * 2) solid transparent;
	}
}

.DListItem.--hold {
	padding-left: 0;
	border-left: 0;
}

.DListItem.--disabled {
	--item-color-default: var(--d-color-text-placeholder);
	cursor: not-allowed;
	&:hover {
		opacity: 1;
		--item-color-default: var(--d-color-text-placeholder);
	}
}

.DListItem.--primary {
	--item-color-custom: var(--d-color-primary);
}
.DListItem.--info {
	--item-color-custom: var(--d-color-info);
}
.DListItem.--success {
	--item-color-custom: var(--d-color-success);
}
.DListItem.--accent {
	--item-color-custom: var(--d-color-accent);
}
.DListItem.--danger {
	--item-color-custom: var(--d-color-danger);
}
