@use '../../assets/scss/utils/mixins';

.DCalendarGrid {
	display: inline-grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 100%;
	font-size: var(--d-font-size-m);
}

.DCalendarGrid.--days {
	grid-template-columns: repeat(7, 1fr);
}

.DCalendarGrid.--months {
	grid-template-columns: repeat(3, 1fr);
}

.DCalendarGrid.--years {
	grid-template-columns: repeat(4, 1fr);
}

.DCalendarGrid__head {
	padding: 6px 8px;
	color: var(--d-color-text-secondary);
	text-align: center;
	text-transform: uppercase;
	font-size: var(--d-font-size-xs);
}

.DCalendarGrid__item {
	@include mixins.clearButton;
	position: relative;
	z-index: 1;
	padding: 6px 8px;
	text-align: center;
	cursor: pointer;
	transition: color .1s ease;
	text-transform: capitalize;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		border-radius: var(--d-radius-m);
	}

	&:hover {
		color: var(--d-color-primary);

		&:before {
			background-color: rgba(var(--d-color-primary-rgb), .05);
		}
	}
}

.DCalendarGrid__item.--not-in-month {
	color: var(--d-color-text-placeholder);
}

.DCalendarGrid__item.--today {
	color: var(--d-color-primary);

	&:before {
		border: 1px solid var(--d-color-primary);
	}
}

.DCalendarGrid__item.--disabled {
	color: var(--d-color-text-placeholder);
	cursor: not-allowed;
	&:hover {
		&:before {
			background-color: transparent;
		}
	}
}

.DCalendarGrid__item.--between {
	&:before {
		background-color: rgba(var(--d-color-primary-rgb), .1);
	}
}

// not first in row
.DCalendarGrid__item.--range-last:not(:nth-child(7n-6)),
.DCalendarGrid__item.--between:not(:nth-child(7n-6)) {
	&:before {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

// not last in row
.DCalendarGrid__item.--range-first:not(:nth-child(7n)),
.DCalendarGrid__item.--between:not(:nth-child(7n)) {
	&:before {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.DCalendarGrid__item.--selected {
	color: var(--d-color-light);

	&:before {
		border: 0;
		background-color: var(--d-color-primary);
	}

	&:hover {
		&:before {
			background-color: var(--d-color-primary);
		}
	}
}

