<template>
	<div class="DCalendar --months">
		<div class="DCalendar__nav">
			<button class="DCalendar__button DCalendar__arrow-left" @click="onClickPrev">
				<slot name="icon-arrow-left">
					<d-icon name="arrow-left"/>
				</slot>
			</button>
			<button class="DCalendar__button DCalendar__year" @click="onClickYear">{{ currentYear }}</button>
			<button class="DCalendar__button DCalendar__arrow-right" @click="onClickNext">
				<slot name="icon-arrow-right">
					<d-icon name="arrow-right"/>
				</slot>
			</button>
		</div>
		<div class="DCalendar__body DCalendarGrid --months">
			<div
				class="DCalendarGrid__item"
				:class="{'--today': isTodayYear && i === today.month}"
				v-for="(month, i) in months"
				:key="'months' + month"
				@click="onClickMonth(i)"
			>
				<slot :month="month + 1" :year="currentYear">{{ month }}</slot>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DCalendarMonths',
	props: {
		year: {
			type: Number,
			default: null,
		},
		active: {
			type: Boolean,
			default: false,
		}
	},
	components: {},
	data() {
		const date = new Date();
		return {
			innerYear: this.year,
			today: {
				year: date.getFullYear(),
				month: date.getMonth(),
			},
		};
	},
	computed: {
		isTodayYear() {
			return this.today.year === this.currentYear;
		},
		months() {
			return this.$dayjs.months();
		},
		currentYear: {
			get() {
				return this.innerYear ?? this.today.year;
			},
			set(value) {
				this.innerYear = value;
			},
		},
	},
	methods: {
		onClickPrev() {
			this.currentYear -= 1;
		},
		onClickNext() {
			this.currentYear += 1;
		},
		onClickYear() {
			this.$emit('clickYear');
		},
		onClickMonth(month) {
			this.$emit('updateView', {month, year: this.currentYear});
		},
	},
	watch: {
		year(newValue) {
			if (newValue === this.innerYear) return;
			this.innerYear = newValue;
		},
		active(newValue) {
			if (!newValue) return;
			this.innerYear = this.year;
		},
	},
	mounted() {},
};
</script>
