<template>
	<div class="DCalendar --years">
		<div class="DCalendar__nav">
			<button class="DCalendar__button DCalendar__arrow-left" @click="onClickPrev">
				<slot name="icon-arrow-left">
					<d-icon name="arrow-left"/>
				</slot>
			</button>
			<div class="DCalendar__button DCalendar__year">{{currentYear - 10}} ~ {{currentYear + 9}}</div>
			<button class="DCalendar__button DCalendar__arrow-right" @click="onClickNext">
				<slot name="icon-arrow-right">
					<d-icon name="arrow-right"/>
				</slot>
			</button>
		</div>
		<div class="DCalendar__body DCalendarGrid --years">
			<div
				class="DCalendarGrid__item"
				:class="{'--today': year === today.year}"
				v-for="year in years"
				:key="'year' + year"
				@click="onClickYear(year)"
			>
				{{ year }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DCalendarYears',
	props: {
		year: {
			type: Number,
			default: null,
		},
		active: {
			type: Boolean,
			default: false,
		}
	},
	components: {},
	data() {
		const date = new Date();
		return {
			innerYear: this.year,
			today: {
				year: date.getFullYear(),
			},
		};
	},
	computed: {
		currentYear: {
			get() {
				const year = this.innerYear ?? this.today.year;
				return  Math.round(year / 10) * 10;
			},
			set(value) {
				this.innerYear = value;
			},
		},
		years() {
			const start = this.currentYear - 10;
			return [...Array(20)].map((v, i) => start + i);
		},
	},
	methods: {
		onClickPrev() {
			this.currentYear -= 20;
		},
		onClickNext() {
			this.currentYear += 20;
		},
		onClickYear(year) {
			this.$emit('updateView', {year});
		}
	},
	watch: {
		year(newValue) {
			if (newValue === this.innerYear) return;
			this.innerYear = newValue;
		},
		active(newValue) {
			if (!newValue) return;
			this.innerYear = this.year;
		},
	},
	mounted() {},
};
</script>
