<template>
	<div class="DCalendar --days">
		<div class="DCalendar__nav">
			<button class="DCalendar__button DCalendar__arrow-left" @click="onClickPrev">
				<slot name="icon-arrow-left">
					<d-icon name="arrow-left"/>
				</slot>
			</button>
			<button class="DCalendar__button DCalendar__month" @click="onClickMonth">
				{{ currentCalendar.format('MMMM') }}
			</button>
			<button class="DCalendar__button DCalendar__year" @click="onClickYear">
				{{ currentCalendar.format('YYYY') }}
			</button>
			<button class="DCalendar__button DCalendar__arrow-right" @click="onClickNext">
				<slot name="icon-arrow-right">
					<d-icon name="arrow-right"/>
				</slot>
			</button>
		</div>

		<div class="DCalendar__body DCalendarGrid --days">
			<div
				class="DCalendarGrid__head"
				v-for="weekday in weekdays"
				:key="'weekday' + weekday"
			>
				{{ weekday }}
			</div>

			<div
				class="DCalendarGrid__item --not-in-month"
				:class="{
					'--disabled': day.disabled,
				}"
				v-for="day in daysBefore"
				:key="'daysBefore' + day.value"
				@click="onClickDay(day, -1)"
			>
				{{ day.value }}
			</div>

			<div
				class="DCalendarGrid__item"
				:class="{
					'--today': day.today,
					'--selected': day.selected,
					'--disabled': day.disabled,
					'--between': day.between,
					'--range-first': day.rangeFirst,
					'--range-last': day.rangeLast,
				}"
				v-for="day in days"
				:key="'day' + day.value"
				@click="onClickDay(day)"
			>
				<slot :day="day.value" :month="innerCalendar.month + 1" :year="innerCalendar.year">
					{{ day.value }}
				</slot>
			</div>

			<div
				class="DCalendarGrid__item --not-in-month"
				:class="{
					'--disabled': day.disabled,
				}"
				v-for="day in daysAfter"
				:key="'daysAfter' + day.value"
				@click="onClickDay(day, 1)"
			>
				{{ day.value }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DCalendarDays',
	props: {
		month: {
			type: Number,
			default: null,
		},
		year: {
			type: Number,
			default: null,
		},
		selectedCalendar: {
			type: Array,
			default: null,
		},
		minDate: {
			type: Object,
			default: null,
		},
		maxDate: {
			type: Object,
			default: null,
		}
	},
	components: {},
	data() {
		const date = new Date();
		return {
			TOTAL_DAYS: 42, // Макс. кол-во дней, что бы календарь был всегда 1 высоты
			innerCalendar: {
				year: this.year,
				month: this.month,
			},
			today: {
				year: date.getFullYear(),
				month: date.getMonth(),
				day: date.getDate(),
			},
		};
	},
	computed: {
		weekdays() {
			return this.$dayjs.weekdaysMin(true);
		},
		isTodayMonth() {
			const year = this.currentCalendar.year();
			const month = this.currentCalendar.month();
			return this.today.year === year && this.today.month === month;
		},
		currentCalendar: {
			get() {
				const year = this.innerCalendar.year ?? this.today.year;
				const month = this.innerCalendar.month ?? this.today.month;
				return this.$dayjs(`${year}-${month + 1}-01`);
			},
			set(newDate = {}) {
				this.innerCalendar.year = +newDate.year();
				this.innerCalendar.month = +newDate.month();
				this.updateCalendar();
			},
		},
		daysBefore() {
			const startOfMonth = this.currentCalendar.weekday() || 0;
			const endOfPrevMonth = this.currentCalendar.date(0);
			return [...Array(startOfMonth)].map((v, i) => {
				const value = endOfPrevMonth.date() - i;
				const date = this.currentCalendar.add(-1, 'month').date(value);
				return {
					value,
					disabled: this.checkDisabledDate(date),
				};
			}).reverse();
		},
		daysAfter() {
			const currentDays = this.days.length + this.daysBefore.length;
			const neededDays = this.TOTAL_DAYS - currentDays;
			if (neededDays <= 0) return [];
			return [...Array(neededDays)].map((v, i) => {
				const value = i + 1;
				const date = this.currentCalendar.add(1, 'month').date(value);
				return {
					value,
					disabled: this.checkDisabledDate(date),
				}
			});
		},
		days() {
			const daysInMonth = this.currentCalendar.daysInMonth();
			return [...Array(daysInMonth)].map((v, i) => {
				const value = i + 1;
				const date = this.currentCalendar.date(value);
				const isFirstDate = this.checkSelectedDate(date, this.selectedCalendar[0]);
				const isSecondDate = this.checkSelectedDate(date, this.selectedCalendar[1]);
				return {
					value,
					today: this.isTodayMonth && value === this.today.day,
					selected: isFirstDate || isSecondDate,
					between: this.checkBetweenDate(date),
					disabled: this.checkDisabledDate(date),
					rangeFirst: isFirstDate && this.selectedCalendar[1],
					rangeLast: isSecondDate && this.selectedCalendar[1],
				}
			});
		},
	},
	methods: {
		checkSelectedDate(date, selected) {
			if (!selected) return false;
			return date.isSame(selected, 'day');
		},
		checkBetweenDate(date) {
			const firstDate = this.selectedCalendar[0];
			const secondDate = this.selectedCalendar[1];
			if (!firstDate || !secondDate) return false;
			return date.isBetween(firstDate, secondDate, 'day');
		},
		checkDisabledDate(date) {
			if (!this.minDate && !this.maxDate) return;
			const isBefore = this.minDate && date.isBefore(this.minDate);
			const isAfter = this.maxDate && date.isAfter(this.maxDate);
			return Boolean(isBefore || isAfter);
		},
		updateCalendar() {
			this.$emit('updateView', {
				month: this.currentCalendar.month(),
				year: this.currentCalendar.year()
			});
		},
		onClickPrev() {
			this.currentCalendar = this.currentCalendar.add(-1, 'month');
		},
		onClickNext() {
			this.currentCalendar = this.currentCalendar.add(1, 'month');
		},
		onClickMonth() {
			this.$emit('clickMonth');
		},
		onClickYear() {
			this.$emit('clickYear');
		},
		onClickDay(day, offset = 0) {
			if (day.disabled) return;
			const year = this.currentCalendar.year();
			const month = this.currentCalendar.month();
			this.$emit('selectDate', {year, month: month + offset, day: day.value});
		},
	},
	watch: {
		year(newValue) {
			if (newValue === this.innerCalendar.year) return;
			this.innerCalendar.year = +newValue;
		},
		month(newValue) {
			if (newValue === this.innerCalendar.month) return;
			this.innerCalendar.month = +newValue;
		},
	},
	mounted() {
	},
};
</script>
