<template>
	<div class="DCalendarWrap" :class="[{'--range': range, '--selectRange': selectRange}]">
		<div
			class="DCalendarContent"
			:class="[{
				'--days': state.days,
				'--months': state.months,
				'--years': state.years,
				'--hide': selectRange && selectRange !== i+1
			},`--offset-${i}`]"
			v-for="(calendar, i) in viewCalendarList" :key="i"
		>
			<d-calendar-days
				:selectedCalendar="selectedCalendar"
				:year="calendar.year"
				:month="calendar.month"
				:minDate="minDate"
				:maxDate="maxDate"
				@clickMonth="onClickMonth(i)"
				@clickYear="onClickYear(i)"
				@selectDate="onSelectDate"
				@updateView="onViewCalendarUpdate($event,'days', i)"
			>
				<template #icon-arrow-left>
					<slot name="icon-arrow-left"/>
				</template>
				<template #icon-arrow-right>
					<slot name="icon-arrow-right"/>
				</template>
				<template #default="{day, month, year}">
					<slot name="day" :day="day" :month="month" :year="year"/>
				</template>
			</d-calendar-days>
			<d-calendar-months
				:year="calendar.year"
				@clickYear="onClickYear(i)"
				@updateView="onViewCalendarUpdate($event,'months', i)"
			>
				<template #icon-arrow-left>
					<slot name="icon-arrow-left"/>
				</template>
				<template #icon-arrow-right>
					<slot name="icon-arrow-right"/>
				</template>
				<template #default="{month, year}">
					<slot name="month" :month="month" :year="year"/>
				</template>
			</d-calendar-months>
			<d-calendar-years
				:year="calendar.year"
				@updateView="onViewCalendarUpdate($event, 'years', i)"
			>
				<template #icon-arrow-left>
					<slot name="icon-arrow-left"/>
				</template>
				<template #icon-arrow-right>
					<slot name="icon-arrow-right"/>
				</template>
				<template #default="{year}">
					<slot name="year" :year="year"/>
				</template>
			</d-calendar-years>
		</div>
	</div>
</template>

<script>
import DCalendarDays from './DCalendarDays';
import DCalendarMonths from './DCalendarMonths';
import DCalendarYears from './DCalendarYears';

export default {
	name: 'DCalendar',
	model: {
		prop: 'modelValue',
		event: 'modelChange',
	},
	props: {
		modelValue: {
			type: [String, Number, Array],
			default: '',
		},
		min: {
			type: [String, Number],
			default: '',
		},
		max: {
			type: [String, Number],
			default: '',
		},
		format: {
			type: String,
			default: '',
		},
		endOfDay: {
			type: Boolean,
			default: false,
		},
		range: {
			type: Boolean,
			default: false,
		},
		calendars: {
			type: [Number, String],
			default: 1,
		}
	},
	components: {
		DCalendarYears,
		DCalendarMonths,
		DCalendarDays,
	},
	data() {
		return {
			state: {
				days: true,
				months: false,
				years: false,
			},
			viewCalendar: {
				month: null,
				year: null,
			},
			selectedCalendar: [],
			tempModelValue: null,
			isInnerUpdate: false,
			selectRange: 0,
		};
	},
	computed: {
		minDate() {
			if (!this.min) return null;
			return this.valueToDate(this.min).startOf('day');
		},
		maxDate() {
			if (!this.max) return null;
			return this.valueToDate(this.max).startOf('day');
		},
		viewCalendarList() {
			if (this.calendars === 1) return [this.viewCalendar]
			const year = this.viewCalendar.year;
			const month = this.viewCalendar.month;
			const viewDate = this.$dayjs(`${year}-${month + 1}-01`);
			const count = Number(this.calendars) || 1;
			return [...Array(count)].map((v, i) => {
				const date = viewDate.add(i, 'month');
				return {
					month: date.month(),
					year: date.year(),
				}
			})
		}
	},
	methods: {
		getMinMaxDate(date) {
			if (this.minDate && date.isBefore(this.minDate)) {
				return this.minDate;
			} else if (this.maxDate && date.isAfter(this.maxDate)) {
				return this.maxDate;
			}
			return date
		},
		setState(key) {
			Object.keys(this.state).forEach((_k) => {
				this.state[_k] = false;
			});
			this.state[key] = true;
		},
		setNextState(key) {
			switch (key) {
				case 'years':
					this.setState('months');
					break;
				default:
					this.setState('days');
					break;
			}
		},
		updateSelectedCalendarByModelValue(force) {
			if (this.checkModelValueIsSame()) return;
			if (!this.modelValue || this.modelValue.length === 0) {
				this.selectedCalendar = [];
				this.tempModelValue = this.selectedCalendar;
				this.emitModelChange();
				return;
			}
			if (!this.range) {
				const date = this.getValidModelValue(this.modelValue, force);
				this.selectedCalendar = [date];
				this.emitModelChange();
			} else if (this.modelValue[1]) {
				const firstDate = this.getValidModelValue(this.modelValue[0], force);
				const secondDate = this.getValidModelValue(this.modelValue[1], force);
				this.selectedCalendar = [firstDate, secondDate];
				this.emitModelChange();
			} else {
				const firstDate = this.getValidModelValue(this.modelValue[0], force);
				this.selectedCalendar = [firstDate];
				this.emitModelChange();
			}
		},
		setSelectedCalendar(date) {
			const isEmpty = this.selectedCalendar.length === 0;
			const isFull = this.selectedCalendar.length > 1;
			if (!date) {
				this.selectedCalendar = [];
			} else if (!this.range || isFull || isEmpty) {
				this.selectedCalendar = [date];
			} else if (this.selectedCalendar[0].isBefore(date)) {
				this.selectedCalendar = [this.selectedCalendar[0], date];
			} else {
				this.selectedCalendar = [date, this.selectedCalendar[0]];
			}
		},
		updateViewCalendar() {
			const date = this.selectedCalendar[0] || this.getMinMaxDate(this.$dayjs());
			this.viewCalendar.year = date.year();
			this.viewCalendar.month = date.month();
		},
		emitModelChange() {
			let currentDate
			if (this.range) {
				currentDate = this.selectedCalendar.map((date) => this.dateToValue(date));
			} else {
				currentDate = this.dateToValue(this.selectedCalendar[0]);
			}
			this.tempModelValue = currentDate;
			this.$emit('modelChange', currentDate);
		},
		emitViewCalendar() {
			this.$emit('updateView', this.viewCalendar);
		},
		onViewCalendarUpdate(value = {}, type,  offset) {
			const month = Number.isInteger(value.month) ? value.month : this.viewCalendar.month;
			const year = Number.isInteger(value.year) ? value.year : this.viewCalendar.year;
			const viewDate = this.$dayjs(`${year}-${month + 1}-01`).subtract(offset, 'month');
			this.viewCalendar.year = viewDate.year();
			this.viewCalendar.month = viewDate.month();
			this.setNextState(type);
			if (type !== 'years') {
				this.selectRange = 0;
			}
		},
		onClickMonth(offset) {
			this.selectRange = offset + 1;
			this.setState('months');
		},
		onClickYear(offset) {
			this.selectRange = offset + 1;
			this.setState('years');
		},
		onSelectDate({year, month, day}) {
			let newDate = this.$dayjs(`${year}-${month + 1}-${day}`);
			if (this.endOfDay) {
				newDate = newDate.endOf('day');
			}
			this.isInnerUpdate = true;
			this.setSelectedCalendar(newDate);
			this.emitModelChange();
			this.$nextTick(() => {
				this.isInnerUpdate = false;
			})
		},
		valueToDate(value) {
			if (!value) return '';
			return this.format ? this.$dayjs(value, this.format) : this.$dayjs.unix(value);
		},
		dateToValue(date) {
			if (!date) return '';
			return this.format ? date.format(this.format) : date.unix(date);
		},
		checkModelValueIsSame() {
			if (!this.range) {
				const date = this.valueToDate(this.modelValue);
				const isAllEmpty = !date && !this.selectedCalendar[0];
				return isAllEmpty || (date && date.isSame(this.selectedCalendar[0]));
			} else if (Array.isArray(this.modelValue) && this.selectedCalendar.length === this.modelValue.length) {
				return this.selectedCalendar.every((sDate, i) => {
					const date = this.valueToDate(this.modelValue[i]);
					return sDate.isSame(date);
				})
			}
			return false;
		},
		getValidModelValue(modelValue, force) {
			const date = this.valueToDate(modelValue);
			const validDate = this.getMinMaxDate(date);
			// если вводить руками в инпут невалидную дату, то принудительно меняем ее на первую подходящую
			return !validDate.isSame(date) && force ? validDate : date;
		},
	},
	directives: {},
	filters: {},
	watch: {
		selectedCalendar() {
			if (this.isInnerUpdate) return;
			this.updateViewCalendar();
		},
		modelValue(newValue) {
			if (newValue === this.tempModelValue) return;
			this.updateSelectedCalendarByModelValue(true);
		},
		'viewCalendar.month'(newValue, oldValue) {
			if (newValue === oldValue) return;
			this.emitViewCalendar();
		},
		'viewCalendar.year'(newValue, oldValue) {
			if (newValue === oldValue) return;
			this.emitViewCalendar();
		},
	},
	created() {
		this.updateSelectedCalendarByModelValue();
		this.updateViewCalendar();
	},
	mounted() {
	},
};
</script>
