@use '../../assets/scss/utils/mixins';

.DCalendar {
	display: inline-flex;
	flex-direction: column;
	vertical-align: middle;
	padding: 8px;
	position: relative;
}

.DCalendar__nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.DCalendar__body {
	min-height: 220px;
}

.DCalendar__nav + .DCalendar__body {
	padding-top: 6px;
}

.DCalendar__button {
	font-size: var(--d-font-size-l);
	text-transform: capitalize;
}

button.DCalendar__button {
	@include mixins.clearButton;
	font-size: var(--d-font-size-l);
	transition: color .1s ease;

	&:hover {
		color: var(--d-color-primary);
	}
}

.DCalendar__button {
	margin: 0 6px;

	&:first-child {
		margin-left: 0;
		margin-right: auto;
	}

	&:last-child {
		margin-top: 0;
		margin-left: auto;
	}
}

.DCalendar__button.--disabled {
	color: var(--d-color-text-placeholder);
	&:hover {
		color: var(--d-color-text-placeholder);
	}
}

button.DCalendar__button.--disabled {
	cursor: not-allowed;
}

.DCalendarWrap {
	display: inline-flex;
	vertical-align: middle;
	position: relative;
}

.DCalendarContent {
	display: inline-flex;
	flex-direction: column;
	vertical-align: middle;
	position: relative;
}

.DCalendar.--days,
.DCalendar.--months,
.DCalendar.--years {
	opacity: 0;
}

.DCalendar.--months,
.DCalendar.--years {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.DCalendarContent.--days .DCalendar.--days {
	opacity: 1;
	z-index: 2;
}

.DCalendarContent.--months .DCalendar.--months {
	opacity: 1;
	z-index: 2;
}

.DCalendarContent.--years .DCalendar.--years {
	opacity: 1;
	z-index: 2;
}

.DCalendarWrap.--range .DCalendarContent .DCalendar.--days{
	.DCalendar__arrow-left,
	.DCalendar__arrow-right {
		opacity: 0;
		pointer-events: none;
	}
}

.DCalendarWrap.--range .DCalendarContent:first-child .DCalendar.--days {
	.DCalendar__arrow-left {
		opacity: 1;
		pointer-events: auto;
	}
}

.DCalendarWrap.--range .DCalendarContent:last-child .DCalendar.--days {
	.DCalendar__arrow-right {
		opacity: 1;
		pointer-events: auto;
	}
}

.DCalendarWrap.--selectRange .DCalendarContent {
	position: static;
}

.DCalendarWrap.--selectRange .DCalendarContent.--hide {
	opacity: 0;
	pointer-events: none;
}


.DCalendarWrap.--selectRange .DCalendarContent:not(.--hide) .DCalendar.--months,
.DCalendarWrap.--selectRange .DCalendarContent:not(.--hide) .DCalendar.--years {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: none;
}
