.DBadge {
	--size: 20px;
	--color: var(--d-color-text-main);
	--color-bg: var(--d-color-plate-border);
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	min-height: var(--size);
	min-width: var(--size);
	position: relative;
	padding: 0 6px;
	border-radius: var(--size);
	background-color: var(--color-bg);
	color: var(--color);
	font-weight: var(--d-font-weight-normal);
	font-size: var(--d-font-size-m);
	box-shadow: 0 0 0 3px var(--d-color-light);
	white-space: nowrap;
	svg {
		width: calc(var(--size) * .8);
		height: calc(var(--size) * .8);
		margin: 0 -6px;
	}
}

.DBadge.--dot {
	--size: 12px;
	padding: 0;
	font-size: 0;

	svg {
		width: 0;
		height: 0;
	}
}
.DBadge.--tr,
.DBadge.--tl,
.DBadge.--br,
.DBadge.--bl {
	position: absolute;
	z-index: 10;
}

.DBadge.--tr {
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.DBadge.--tl {
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

.DBadge.--br {
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
}

.DBadge.--bl {
	bottom: 0;
	left: 0;
	transform: translate(-50%, 50%);
}

.DBadge.--primary {
	--color: var(--d-color-light);
	--color-bg: var(--d-color-primary);
}

.DBadge.--info {
	--color: var(--d-color-light);
	--color-bg: var(--d-color-info);
}

.DBadge.--success {
	--color: var(--d-color-light);
	--color-bg: var(--d-color-success);
}

.DBadge.--accent {
	--color: var(--d-color-light);
	--color-bg: var(--d-color-accent);
}

.DBadge.--danger {
	--color: var(--d-color-light);
	--color-bg: var(--d-color-danger);
}

.DBadge.--small {
	--size: 14px;
	padding: 0 4px;
	font-size: var(--d-font-size-xs);
	box-shadow: 0 0 0 1px var(--d-color-light);
	&.--dot {
		--size: 6px;
		padding: 0;
	}
}
