<template>
	<DFormField v-bind="formFieldProps" control-styled>
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		<template #innerAfter>
			<div class="DFormControl__icon">
				<slot name="innerAfter">
					<d-icon name="calendar"/>
				</slot>
			</div>
		</template>

		<d-form-mask
			:mask="maskDate"
			v-bind="currentAttrs"
			v-on="controlListeners"
			v-model="innerModel"
			v-dropdown:[uuid]="{closest: '.DFormField__area'}"
			ref="control"
		/>

		<d-dropdown
			v-model="isOpen"
			:name="uuid"
			placement="bottom-start"
			save-inner-click
			save-anchor-click
		>
			<d-calendar
				:modelValue="dateModel"
				:format="formatData"
				:endOfDay="endOfDay"
				:max="max"
				:min="min"
				@modelChange="onChaneDate"
			>
				<template #icon-arrow-left><slot name="icon-arrow-left"/></template>
				<template #icon-arrow-right><slot name="icon-arrow-right"/></template>
			</d-calendar>
		</d-dropdown>
	</DFormField>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';
import IMask from 'imask';

let createdCounter = 0;

export default {
	name: 'DFormDate',
	extends: DFormControl,
	props: {
		formatData: {
			type: String,
			default: '',
		},
		formatInput: {
			type: String,
			default: 'DD.MM.YYYY',
		},
		min: {
			type: [String, Number],
			default: '',
		},
		max: {
			type: [String, Number],
			default: '',
		},
		endOfDay: {
			type: Boolean,
			default: false,
		}
	},
	components: {},
	data() {
		++createdCounter;
	 return {
		 isOpen: false,
		 uuid: `DFormDate_${createdCounter}`,
		 binding: {
			 class: ['DFormControl', this.controlClass],
			 style: this.controlStyle,
		 },
	 };
	},
	computed: {
		innerModel: {
			get() {
				return this.propsDataAdapter(this.safeModel);
			},
			set(value) {
				if (value === '') {
					this.emitModelChange('')
				}
				let newDate = this.$dayjs(value, this.formatInput);
				if (newDate.isValid()) {
					if (this.endOfDay) {
						newDate = newDate.endOf('day');
					}
					this.emitModelChange(this.dateToFormat(newDate, this.formatData));
				}
			}
		},
		dateModel() {
			return String(this.safeModel || '');
		},
		maskDate() {
			return {
				mask: Date,
				pattern: this.formatInput,
				format: (date) => {
					return date.format(this.formatInput);
				},
				parse: (str) => {
					return this.$dayjs(str, this.formatInput);
				},
				blocks: {
					YYYY: {
						mask: IMask.MaskedRange,
						from: 1000,
						to: 9999
					},
					MM: {
						mask: IMask.MaskedRange,
						from: 1,
						to: 12
					},
					DD: {
						mask: IMask.MaskedRange,
						from: 1,
						to: 31
					},
				}
			}
		},
		currentAttrs() {
			return Object.assign({}, this.controlAttrs, this.binding);
		},
	},
	methods: {
		onChaneDate(value, timeRangeOut = false) {
			this.emitModelChange(value);
			if (!timeRangeOut) {
				this.isOpen = false;
			}
		},
		emitModelChange(value) {
			this.tempModel = value;
			this.isErrorShow = false;
			this.$emit('modelChange', value);
		},
		valueToDate(value, format = null) {
			return format ? this.$dayjs(value, format) : this.$dayjs.unix(value);
		},
		dateToFormat(date, format = null) {
			return format ? date.format(format) : date.unix();
		},
		propsDataAdapter(value) {
			if (!value) return '';
			let newDate = this.valueToDate(value, this.formatData);
			if (!newDate.isValid()) return '';
			return newDate.format(this.formatInput);
		},
	},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
