@use './../utils/mixins';
@use './../variables';

// Генерация отступов
// _d--gap-[axis]:[gap]
@each $gap, $val in variables.$gaps {
	._d--gap-x\:#{$gap} {
		--gap-x: var(--d-gap-#{$gap});
	}
	._d--gap-y\:#{$gap} {
		--gap-y: var(--d-gap-#{$gap});
	}
}

// _d--[media]:gap-[axis]:[gap]
@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		@each $gap, $val in variables.$gaps {
			._d--#{$media}\:gap-x\:#{$gap} {
				--gap-x: var(--d-gap-#{$gap});
			}
			._d--#{$media}\:gap-y\:#{$gap} {
				--gap-y: var(--d-gap-#{$gap});
			}
		}
	}
}
