@use './../utils/mixins';
@use './../variables';
@use "sass:math";

// _d--width:[col]
@for $i from 0 through variables.$column {
	._d--span\:#{$i} {
		--span: #{math.div(100%, variables.$column) * $i};
	}
}

// _d--[media]:width:[col]
@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		@for $i from 0 through variables.$column {
			._d--#{$media}\:span\:#{$i} {
				--span: #{math.div(100%, variables.$column) * $i};
			}
		}
	}
}
