<template>
	<div class="DPagination">

		<button class="DPagination__item --first" @click="setPage(1)" :disabled="isFirstPage">
			<d-icon name="chevrons-left"/>
		</button>

		<button class="DPagination__item" @click="setPage(currentPage - 1)" :disabled="isFirstPage">
			<d-icon name="chevron-left"/>
		</button>

		<template v-if="simple">
			<div class="DPagination__group">
				<button class="DPagination__item" @click="onClickGroup">стр. {{currentPage}} из {{totalPages}}</button>
				<form class="DPagination__form" @submit.prevent="onSubmit" v-if="formActive" ref="form">
					<d-form-input v-model="inputPage" small number after-fit ref="input">
						<template #innerBefore>стр:</template>
						<template #after>
							<d-button icon outline small type="submit">
								<d-icon name="chevron-right" size="20"/>
							</d-button>
						</template>
					</d-form-input>
				</form>
			</div>

		</template>
		<template v-else>
			<button
				class="DPagination__item"
				:class="{'--active': page === currentPage}"
				@click="setPage(+page)"
				v-for="page in rangePages"
				v-if="typeof page === 'number'"
				:key="page"
			>
				{{page}}
			</button>
			<span class="DPagination__item" v-else>{{page}}</span>
		</template>


		<button class="DPagination__item" @click="setPage(currentPage + 1)" :disabled="isLastPage">
			<d-icon name="chevron-right"/>
		</button>

		<button class="DPagination__item --last" @click="setPage(totalPages)" :disabled="isLastPage">
			<d-icon name="chevrons-right"/>
		</button>

	</div>
</template>

<script>
export default {
	name: 'DPagination',
	model: {
		prop: 'modelValue',
		event: 'modelChange'
	},
	props: {
		modelValue: {
			type: Number,
			default: 0,
		},
		totalItems: {
			type: Number,
			default: 0,
		},
		perPage: {
			type: Number,
			default: 0,
		},
		query: {
			type: String,
			default: 'page',
		},
		local: {
			type: Boolean,
			default: false,
		},
		simple: {
			type: Boolean,
			default: false,
		}
	},
	components: {},
	data() {
		return {
			inputPage: '',
			formActive: false,
		};
	},
	computed: {
		isFirstPage() {
			return this.currentPage <= 1;
		},
		isLastPage() {
			return this.currentPage >= this.totalPages;
		},
		currentPage: {
			get() {
				return this.local ? this.modelValue : +this.$route.query[this.query] || 1;
			},
			set(value) {
				this.setModelPage(Number(value));
				if (!this.local) {
					this.setQueryPage(Number(value));
				}
			},
		},
		totalPages() {
			return this.totalItems !== 0 ? Math.ceil(this.totalItems / this.perPage) : 1;
		},
		rangePages() {
			let pageList = [];
			if (this.totalPages > 7) {
				if (this.currentPage < 5) {
					pageList = [1, 2, 3, 4, 5, '...', this.totalPages];
				} else if (this.currentPage > this.totalPages - 4) {
					pageList = [
						1,
						'...',
						this.totalPages - 4,
						this.totalPages - 3,
						this.totalPages - 2,
						this.totalPages - 1,
						this.totalPages,
					];
				} else {
					pageList = [
						1,
						'...',
						this.currentPage - 1,
						this.currentPage,
						this.currentPage + 1,
						'...',
						this.totalPages
					];
				}
			} else {
				pageList = [...Array(this.totalPages).keys()].map(page => ++page);
			}
			return pageList;
		},
	},
	methods: {
		setQueryPage(page) {
			let query = Object.assign({}, this.$route.query);

			if(page > 1) {
				query[this.query] = page;
			} else {
				delete query[this.query];
			}

			this.$router.push({query});
		},
		setModelPage(page) {
			if (+page === this.modelValue) return;
			this.$emit('modelChange', page)
		},
		setPage(value) {
			if (!Number(value)) return;
			this.currentPage = value <= 0 ? 1 : Math.min(value, this.totalPages);
		},
		onClickGroup() {
			this.formActive = true;
			window.addEventListener('click', this.onEventGlobal);
			window.addEventListener('keydown', this.onEventGlobal);
			this.$nextTick(() => {
				this.$refs.input.focus();
			});
		},
		onSubmit() {
			this.setPage(this.inputPage);
			this.formActive = false;
			this.inputPage = '';
			window.removeEventListener('click', this.onEventGlobal);
			window.removeEventListener('keydown', this.onEventGlobal);
		},
		onEventGlobal(evt) {
			const isEsc = evt.key === 'Escape';
			const isClick = evt.type === 'click';
			const isNotForm = !evt.target.closest('.DPagination__form');
			const isNotBtn = !evt.target.closest('.DPagination__item');
			if (isEsc || isClick && isNotForm && isNotBtn) {
				this.formActive = false;
				this.inputPage = '';
				window.removeEventListener('click', this.onEventGlobal);
				window.removeEventListener('keydown', this.onEventGlobal);
			}
		},
	},
	directives: {},
	filters: {},
	watch: {},
	created() {
		this.setModelPage(this.currentPage);
	},
	mounted() {},
};
</script>
