@use '../../assets/scss/utils/mixins';

.DPagination {
	--size: var(--d-size-s);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.DPagination__item {
	min-height: var(--size);
	min-width: var(--size);
	padding: var(--d-gap-xs);

	svg {
		width: 16px;
		height: 16px;
	}

	&:first-child,
	&:last-child {
		min-width: 0;
	}
}

.DPagination__item.--first {
	padding-left: 0;
}

.DPagination__item.--last {
	padding-right: 0;
}

button.DPagination__item {
	@include mixins.clearButton;
	color: var(--d-color-primary);
	border-radius: var(--d-radius-m);

	&:hover {
		color: var(--d-color-text-main);
	}
}

span.DPagination__item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: default;
	color: var(--d-color-primary);
}

.DPagination__item:disabled {
	color: var(--d-color-text-secondary);
	pointer-events: none;
}

.DPagination__item.--active {
	background-color: var(--d-color-plate-bg);
	color: var(--d-color-text-main);
	cursor: default;
}

.DPagination__group {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.DPagination__form {
	position: absolute;
	z-index: 2;
	left: calc(-1 * var(--size));
	right: calc(-1 * var(--size));
	top: 50%;
	transform: translateY(-50%);
}
