<template>
	<d-image
		:image="isFile ? innerImage : propImage"
		:field="field"
		:field2x="field2x"
		:src="src"
		:src2x="src2x"
		:width="width"
		:height="height"
		:size="size"
		:fitContain="fitContain"
		:fitCover="fitCover"
		:alt="alt"
		:lazy="lazy"
	/>
</template>
<script>

export default {
	name: 'DImageFile',
	props: {
		image: {
			default: null,
		},
		field: {
			type: [String, Number],
			default: '',
		},
		field2x: {
			type: [String, Number],
			default: '',
		},
		src: {
			type: [String, Number],
			default: '',
		},
		src2x: {
			type: [String, Number],
			default: '',
		},
		width: {
			default: undefined,
		},
		height: {
			default: undefined,
		},
		size: {
			default: undefined,
		},
		fitContain: {
			type: Boolean,
			default: false,
		},
		fitCover: {
			type: Boolean,
			default: false,
		},
		alt: {
			default: 'picture',
		},
		lazy: {
			type: Boolean,
			default: false,
		},
	},
	components: {},
	data() {
		return {
			innerImage: null,
		};
	},
	computed: {
		propImage() {
			return this.image;
		},
		isFile() {
			try {
				return this.propImage instanceof File;
			} catch (e) {
				return false;
			}
		}
	},
	methods: {
		async processingImage() {
			if (this.innerImage === this.propImage) return;
			this.innerImage = this.isFile ? await this.$dUtils.file2Url(this.propImage) : this.propImage;
		},
	},
	watch: {
		propImage(newValue, oldValue) {
			if (newValue === oldValue) return;
			this.processingImage()
		}
	},
	mounted() {
		this.processingImage()
	},
};
</script>
