<template>
	<DFormField v-bind="formFieldProps">
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #innerAfter><slot name="innerAfter"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		<label class="DFormRange">


			<div class="DFormRange__track"/>
			<div class="DFormRange__progressWrap">
				<div class="DFormRange__progress" :style="offsetPosition"/>
			</div>
			<div class="DFormRange__pin" :style="offsetPosition"/>

			<input
				v-bind="[controlAttrs, binding]"
				v-on="controlListeners"
				v-model="innerModel"
				:min="currentMin"
				:max="currentMax"
				type="range"
				ref="control"
			/>
		</label>


	</DFormField>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';
export default {
	name: 'DFormRange',
	extends: DFormControl,
	props: {
		min: {
			type: [Number, String],
			default() {
				return 0
			}
		},
		max: {
			type: [Number, String],
			default() {
				return 100
			}
		},
		options: {
			type: Array,
			default: () => [],
		},
		defaultModel: {
			default: 0,
		},
	},
	components: {},
	data() {
	 return {
		 binding: {
			 class: ['DFormControl DFormRange__input', this.controlClass],
			 style: this.controlStyle,
		 },
		 tempModel: 0,
	 };
	},
	computed: {
		currentMin() {
			return Number(this.isOptions ? 0 : this.min);
		},
		currentMax() {
			return Number(this.isOptions ? this.options.length -1 : this.max);
		},
		isOptions() {
			return Array.isArray(this.options) && this.options.length
		},
		innerModel: {
			get() {
				if (this.isOptions) {
					const index = this.options.indexOf(this.modelValue);
					return index !== -1 ? index : 0;
				}
				return Number(this.safeModel);
			},
			set(_v) {
				let value = _v;
				if (this.isOptions) {
					value = this.options[_v];
				}
				this.tempModel = +value;
				this.isErrorShow = false;
				this.$emit('modelChange', +value);
			}
		},
		offsetPosition() {
			let maxValue = this.currentMax - this.currentMin;
			let currentValue = this.innerModel - this.currentMin;
			let offset = currentValue * 100 / maxValue;
			return {
				transform: `translateX(${offset}%)`,
			}
		}
	},
	methods: {},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
