.DFormRange {
	--size: 8px;
	--sizePin: 10px;
	--color-bg: var(--d-color-plate-bg);
	--color-bar: var(--d-color-primary);
	display: block;
	width: 100%;
	height: var(--size);
	position: relative;
}

.DFormRange__input {
	display: block;
	height: calc(var(--sizePin) * 2);
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 4;
	transform: translateY(-50%);
	opacity: 0;
	cursor: pointer;
	background-color: #000;

	&:disabled {
		cursor: not-allowed;
	}
}

@mixin range-thumb {
	appearance: none;
	width: var(--size);
	height: var(--size);
	background-color: #fff;
	border: none;
	border-radius: 0;
}

.DFormRange__input::-moz-range-thumb {
	@include range-thumb;
}
.DFormRange__input::-webkit-slider-thumb {
	@include range-thumb;
}


.DFormRange__track {
	position: relative;
	width: 100%;
	height: var(--size);
	background-color: var(--color-bg);
	border-radius: var(--size);
}

.DFormRange__progressWrap {
	position: absolute;
	width: 100%;
	height: var(--size);
	top: 0;
	left: 0;
	overflow: hidden;
	border-radius: var(--size);
}

.DFormRange__progress,
.DFormRange__pin {
	display: block;
	width: calc(100% - var(--size));
	height: var(--size);
	position: absolute;
	z-index: 3;
	left: calc(var(--size) / 2);
	top: 0;
	transition: all .05s ease;
}

.DFormRange__progress {
	&:after {
		content: '';
		display: block;
		position: absolute;
		height: var(--size);
		width: calc(var(--size) / 2 + 100%);
		top: 0;
		transform: translateX(-100%);
		background-color: var(--color-bar);
	}
}

.DFormRange__pin {
	&:before {
		content: '';
		display: block;
		width: var(--sizePin);
		height: var(--sizePin);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		background-color: var(--color-bg);
		border-radius: var(--sizePin);
		box-shadow: 0 0 0 3px var(--color-bar);
	}
}
