/*! purgecss start ignore */
:root {
	--d-scrollbar-color-track: var(--d-color-plate-bg);
	--d-scrollbar-color-thumb: var(--d-color-primary);
}

.__bodyScrollBarEnable {
	*, *:before, *:after {
		scrollbar-color: var(--d-scrollbar-color-thumb) transparent;
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .2);
		background-color: var(--d-scrollbar-color-track);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--d-scrollbar-color-thumb);
		border-radius: 6px;
	}

	html,
	body {
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
			width: 0;
		}
	}
}

._d-unselectable {
	user-select: none;
}
/*! purgecss end ignore */

._DScrollBar-source {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	/* Hide scrollbar for IE, Edge and Firefox */
	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}
}

._DScrollBar-source:not(body) {
	overflow: auto;
}

.DScrollBar {
	--size: 4px;
	width: 0;
	height: 0;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10000;
	transform: translate3d(0, 0, 0);
	// first in flex
	order: -1000;
}

.DScrollBar__overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
	pointer-events: none;
	transform: translate3d(0, 0, 0);
	will-change: height, width, transform;
}

.DScrollBar__track-x,
.DScrollBar__track-y {
	position: absolute;
	pointer-events: auto;
	will-change: height, width, transform;

	&:before {
		content: '';
		position: absolute;
	}
}

.DScrollBar__thumb-x,
.DScrollBar__thumb-y {
	position: absolute;
	border-radius: calc(var(--size) / 2);
	background-color: var(--d-scrollbar-color-thumb);
	will-change: height, width, transform;
}

.DScrollBar__track-x {
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--size);

	&:before {
		width: 100%;
		height: 200%;
		bottom: 0;
		left: 0;
	}
}

.DScrollBar__track-y {
	right: 0;
	top: 0;
	width: var(--size);
	height: 100%;

	&:before {
		width: 200%;
		height: 100%;
		right: 0;
		top: 0;
	}
}

.DScrollBar__thumb-x {
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
}

.DScrollBar__thumb-y {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
}

.DScrollBar__track-x.--active,
.DScrollBar__track-y.--active,
.DScrollBar__track-x:hover,
.DScrollBar__track-y:hover {
	--size: 8px;
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .2);
	background-color: var(--d-scrollbar-color-track);
}

._DScrollBar-source.init {
	.DScrollBar__track-x {
		transition: height .2s ease, box-shadow .2s ease, background-color .2s ease, transform .2s ease;
	}

	.DScrollBar__track-y {
		transition: width .2s ease, box-shadow .2s ease, background-color .2s ease, transform .2s ease;
	}

	.DScrollBar__thumb-x {
		transition: height .2s ease;
	}

	.DScrollBar__thumb-y {
		transition: width .2s ease;
	}
}

._DScrollBar-source.--disable-thumb-hover {
	.DScrollBar__track-x.--active,
	.DScrollBar__track-y.--active,
	.DScrollBar__track-x:hover,
	.DScrollBar__track-y:hover {
		--size: 4px;
		box-shadow: none;
		background-color: transparent;
	}
}

._DScrollBar-source.--show-on-hover {
	.DScrollBar__track-x {
		transform: translateY(var(--size));
	}

	.DScrollBar__track-y {
		transform: translateX(var(--size));
	}

	.DScrollBar__track-x.--active,
	.DScrollBar__track-y.--active {
		transform: none;
	}

	&:hover {
		.DScrollBar__track-x,
		.DScrollBar__track-y {
			transform: none;
		}
	}
}

// Костыль 1
.DContent__aside .DScrollBar {
	grid-area: header;
}
