@use '../../assets/scss/variables';
@use '../../assets/scss/utils/mixins';

.DCard {
	--gap-x: var(--d-gap-l);
	--gap-y: var(--d-gap-l);
	display: block;
	width: 100%;
	padding: var(--gap-y) var(--gap-x);
	border: 1px solid var(--d-color-plate-border);
	border-radius: var(--d-radius-m);
	text-align: left;
}

button.DCard {
	@include mixins.clearButton;
	display: block;
	width: 100%;
	padding: var(--gap-y) var(--gap-x);
	border: 1px solid var(--d-color-plate-border);
	border-radius: var(--d-radius-m);
	text-align: left;
}

button.DCard,
a.DCard {
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 0 0 0 #fff;
	transition: box-shadow .15s ease;

	&:hover {
		box-shadow: var(--d-shadow-simple);
	}
}

.DCard.--clear {
	border: none;
	padding: 0;
}

.DCard.--tile {
	border-radius: 0;
}

.DCard.--inline {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}

