@use '../../assets/scss/variables';
@use '../../assets/scss/utils/mixins';

.DCardRow {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	margin: 0 calc(-1 * var(--gap-x));
	padding: var(--gap-y) var(--gap-x);

	&:first-child {
		margin-top: calc(-1 * var(--gap-y));
	}

	&:last-child {
		margin-bottom: calc(-1 * var(--gap-y));
	}
}

.DCardRow + .DCardRow {
	padding-top: 0;
}

.DCardRow__left,
.DCardRow__main,
.DCardRow__right {
	&.--alignTop {
		align-self: flex-start;
	}

	&.--alignBottom {
		align-self: flex-end;
	}
}

.DCardRow__left {
	flex-shrink: 0;
	flex-grow: 0;
	padding-right: var(--gap-x);
}

.DCardRow__main {
	flex-shrink: 1;
	flex-grow: 1;
	width: 100%;
}

.DCardRow__right {
	flex-shrink: 0;
	flex-grow: 0;
	margin-left: auto;
	padding-left: var(--gap-x);
}

.DCardRow.--divided:not(:last-child) {
	border-bottom: 1px solid var(--d-color-plate-border);
	margin-bottom: var(--gap-y);
}

.DCard.--clear {

	.DCardRow {
		margin: 0;
		padding-left: 0;
		padding-right: 0;

		&:first-child {
			margin-top: 0;
			padding-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}
