@use '../DFormField/DFormField';

.DFormCheck {
	--element-size: 20px;
	--icon-check-white: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.493049 5.95887C0.79291 6.26617 3.95149 9.27594 3.95149 9.27594C4.11221 9.43964 4.32204 9.52148 4.53187 9.52148C4.7417 9.52148 4.95227 9.43964 5.11224 9.27594C5.11224 9.27594 10.9919 2.54582 11.2918 2.23852C11.5916 1.93047 11.6125 1.37688 11.2918 1.048C10.9711 0.719123 10.5246 0.69308 10.131 1.048L4.53112 7.52886L1.65231 4.76836C1.25944 4.41344 0.811512 4.44022 0.491561 4.76836C0.17161 5.09724 0.192444 5.65083 0.493049 5.95887Z' fill='white'/%3E%3C/svg%3E");
	--icon-check-black: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.493049 5.95887C0.79291 6.26617 3.95149 9.27594 3.95149 9.27594C4.11221 9.43964 4.32204 9.52148 4.53187 9.52148C4.7417 9.52148 4.95227 9.43964 5.11224 9.27594C5.11224 9.27594 10.9919 2.54582 11.2918 2.23852C11.5916 1.93047 11.6125 1.37688 11.2918 1.048C10.9711 0.719123 10.5246 0.69308 10.131 1.048L4.53112 7.52886L1.65231 4.76836C1.25944 4.41344 0.811512 4.44022 0.491561 4.76836C0.17161 5.09724 0.192444 5.65083 0.493049 5.95887Z' fill='black'/%3E%3C/svg%3E");
	display: inline-flex;
	align-self: center;
	align-items: flex-start;
	justify-content: flex-start;
	vertical-align: middle;
	min-height: var(--element-size);
	min-width: var(--element-size);
	margin: 0;
	position: relative;
	font-style: normal;
	color: inherit;
	font-size: var(--d-font-size-m);
	cursor: pointer;
}

.DFormCheck__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.DFormCheck__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-self: stretch;
	padding-left: 12px;
	position: relative;
}

.DFormCheck__label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: var(--element-size);
}

.DFormCheck__caption {
	@extend .DFormField__caption;
}

.DFormCheck__errors {
	@extend .DFormField__errors;
}

.DFormCheck__box {
	flex-shrink: 0;
	flex-grow: 0;
	display: block;
	height: var(--element-size);
	width: var(--element-size);
	vertical-align: center;
	background-color: var(--d-color-light);
	border: 1px solid var(--d-color-plate-border);
	border-radius: 4px;
	color: var(--d-color-text-main);
	transition: all .1s ease, visibility 0s;
	position: relative;
}

.DFormCheck__box:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all .1s ease;
	background-image: var(--icon-check-white);
}

.DFormCheck__box:after {
	content: "";
	display: block;
	width: 80%;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--d-color-light);
	border-radius: 3px;
	opacity: 0;
}

.DFormCheck__input:checked ~ .DFormCheck__box {
	border-color: var(--d-color-primary);
	background-color: var(--d-color-primary);

	&:before {
		opacity: 1;
	}
}

.DFormCheck__input[type='checkbox']:indeterminate ~ .DFormCheck__box {
	border-color: var(--d-color-primary);
	background-color: var(--d-color-primary);

	&:after {
		opacity: 1;
	}
}

.DFormCheck.--error {
	.DFormCheck__box {
		border-color: var(--d-color-danger);
	}
}

.DFormCheck.--switch {
	.DFormCheck__box {
		width: calc(var(--element-size) * 2);
		border-radius: var(--element-size);
		border-width: 2px;
		background-color: var(--d-color-plate-border);
	}

	.DFormCheck__box:before {
		--size: calc(var(--element-size) - 4px);
		height: var(--size);
		width: var(--size);
		border-radius: var(--size);
		background-color: var(--d-color-light);
		background-image: none;
		background-size: 50%;
		opacity: 1;
		transition: all .1s ease;
	}

	.DFormCheck__input:checked ~ .DFormCheck__box {
		background-color: var(--d-color-primary);

		&:before {
			left: var(--element-size);
		}
	}
}

.DFormCheck.--small {
	--element-size: 18px;
	font-size: var(--d-font-size-s);

	.DFormCheck__caption,
	.DFormCheck__errors {
		min-height: 16px;
		margin-top: 2px;
	}
}

.DFormCheck.--disabled {
	cursor: not-allowed;

	.DFormCheck__label {
		opacity: .6;
	}

	.DFormCheck__box {
		opacity: .5;
		border-color: var(--d-color-plate-border);
		background-color: var(--d-color-plate-border);
	}

	.DFormCheck__input:checked ~ .DFormCheck__box {
		background-color: var(--d-color-plate-border);

		&:before {
			background-image: var(--icon-check-black);
		}
	}
}

.DFormCheck:focus-within {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}
