<template>
	<label
		class="DFormCheck"
		:class="{
			'--error': isErrorShow && errors && errors.length,
			'--disabled': disabled,
			'--switch': isSwitch,
			'--small': small,
		}"
	>
		<input
			class="DFormCheck__input"
			ref="control"
			:value="value"
			v-bind="controlAttrs"
			v-on="controlListeners"
			v-model="innerModel"
			:disabled="disabled || readonly"
			:indeterminate.prop="innerModel ? false : indeterminate"
			type="checkbox"
		>

		<div class="DFormCheck__box">
			<slot name="mark"/>
		</div>

		<div class="DFormCheck__content" v-if="label || $slots.label">
			<div class="DFormCheck__label">
				<slot name="label">{{label}}</slot>
			</div>
			<div class="DFormCheck__caption" v-if="caption || $slots.caption">
				<slot name="caption">{{caption}}</slot>
			</div>
			<template v-if="isErrorShow && errors && errors.length">
				<div class="DFormCheck__errors">
					<div v-for="(error, i) in errors" :key="`error_${error}_${i}`">{{error}}</div>
				</div>
			</template>
		</div>
	</label>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';
import {checkBoolProp} from '../../helpers/createComponent';
const typeBool = {
	type: Boolean,
	default: false,
}

export default {
	name: 'DFormCheck',
	extends: DFormControl,
	props: {
		value: {
			default: null
		},
		indeterminate: typeBool,
		switch: typeBool,
		trueValue: {
			default: true,
		},
		falseValue: {
			default: false,
		},
	},
	components: {},
	data() {
	 return {
		 tempModel: this.falseValue,
	 };
	},
	computed: {
		innerModel: {
			get() {
				if (this.safeModel instanceof Array) {
					return this.safeModel.includes(this.value);
				}
				return this.safeModel === this.trueValue;
			},
			set(val) {
				this.tempModel = this.getCheckboxValue(val);
				this.isErrorShow = false;
				this.$emit('modelChange', this.tempModel);
			}
		},
		formFieldEvents() {},
		formFieldProps() {},
		isSwitch() {
			return checkBoolProp(this.switch);
		},
	},
	methods: {
		getCheckboxValue(val) {
			const isChecked = val;

			if (this.modelValue instanceof Array) {
				let newValue = [ ...this.modelValue ];

				if (isChecked) {
					newValue.push(this.value);
				} else {
					newValue.splice(newValue.indexOf(this.value), 1);
				}

				return newValue;
			} else {
				return isChecked ? this.trueValue : this.falseValue;
			}
		},
	},
	directives: {},
	filters: {},
	watch: {},
	created() {},
	mounted() {},
};
</script>
