<template>
	<div class="DModalContainer" :class="{ isContainerReady, isComponentReady }">
		<div class="DModalContainer__overlay" @click="onClickClose"/>

		<div class="DModalContainer__loading" v-if="!isComponentReady">
			<d-spinner/>
		</div>

		<div class="DModalContainer__error" v-if="isError">
			<d-alert danger>Ошибка загрузки</d-alert>
		</div>

		<div class="DModalContainer__main" ref="container" tabindex="1" v-else>
			<button class="DModalContainer__close" @click="onClickClose" v-if="!isLock">
				<d-icon name="x"/>
			</button>
			<component
				v-scroll-bar
				:is="asyncComponent"
				v-bind="modalProps"
			/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DModalContainer',
	props: {
		modalPath: {
			type: String,
			default: '',
		},
		modalProps: {
			type: Object,
			default: () => ({}),
		}
	},
	components: {},
	data() {
		return {
			isContainerReady: false,
			isComponentLoaded: false,
			isComponentProxy: true,
			isLoaded: false,
			isError: false,
			asyncComponent: null,
		};
	},
	computed: {
		isComponentReady() {
			return this.isComponentLoaded && this.isComponentProxy;
		},
		isLock() {
			return this.modalProps.lock;
		}
	},
	methods: {
		setClose(param = false) {
			this.$close(param);
		},
		onEventGlobal(evt) {
			if (evt.key !== 'Escape' || this.isLock) return;
			this.setClose();
		},

		onClickClose() {
			if (this.isLock) return;
			this.setClose();
		},

		createProxy(fn, queueAsync) {
			let resolve = null;
			queueAsync.push(new Promise(r => resolve = r));
			return new Proxy(fn, {
				apply: async (target, that, args) => {
					await target.call(that, ...args);
					resolve();
				}
			});
		},

		markAsyncFunctions(component, queueAsync) {
			if (component.created) {
				this.isComponentProxy = false;
				component.created_OLD = component.created;
				component.created = this.createProxy(component.created, queueAsync);
			}
			if (component.mounted) {
				this.isComponentProxy = false;
				component.mounted_OLD = component.mounted;
				component.mounted = this.createProxy(component.mounted, queueAsync);
			}
			if (component.extends) {
				this.markAsyncFunctions(component.extends, queueAsync)
			}
			if (component.mixins && Array.isArray(component.mixins)) {
				component.mixins.forEach((item) => this.markAsyncFunctions(item, queueAsync))
			}
		},

		unmarkAsyncFunctions(component) {
			if (!this.asyncComponent) return;
			if (component.created_OLD) {
				component.created = component.created_OLD;
			}
			if (component.mounted_OLD) {
				component.mounted = component.mounted_OLD;
			}
			if (component.extends) {
				this.unmarkAsyncFunctions(component.extends)
			}
			if (component.mixins && Array.isArray(component.mixins)) {
				component.mixins.forEach((item) => this.unmarkAsyncFunctions(item))
			}
		},

		async importComponent() {
			return import(`@/modals/${this.modalPath}`);
		},

		async getComponent() {
			return this.importComponent().then((res) => {
				const component = res.default;
				const queueAsync = [];
				this.markAsyncFunctions(component, queueAsync);

				Promise.all(queueAsync).then(() => {
					this.isComponentProxy = true;
				});

				return {
					extends: component,
					methods: {
						$close: this.setClose,
					},
				};
			});
		},
		preInit() {
			this.$dScroll.disableGlobalScroll();
		},
		async init() {
			this.isContainerReady = true;
			this.$refs.container.focus();
			window.addEventListener('keydown', this.onEventGlobal);
			this.asyncComponent = await this.getComponent().catch((error) => {
				console.error(error);
				this.isError = true;
			}).finally(() => {
				this.isComponentLoaded = true;
			});
		},
	},
	directives: {},
	filters: {},
	watch: {
		'$route.name'() {
			this.$close();
		},
	},
	created() {},
	async mounted() {
		this.preInit();
		await this.init();
	},
	beforeDestroy() {
		this.unmarkAsyncFunctions(this.asyncComponent);
	},
	destroyed() {
		window.removeEventListener('keydown', this.onEventGlobal);
		setTimeout(() => {
			this.$dScroll.enableGlobalScroll();
		})
	},
};
</script>
