@use '../../assets/scss/utils/mixins';

.DModalContainer {
	--overlay-bg: var(--d-color-dark-rgb);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	outline: 0 !important;
	-webkit-backface-visibility: hidden;
	//overflow: hidden;
}

.DModalContainer__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(var(--overlay-bg), 0);
	transition: background-color .1s ease;
}

.DModalContainer__main {
	position: relative;
	z-index: 2;
	box-shadow: var(--d-shadow-simple);
	max-height: 100%;
	opacity: 0;
	transition: opacity .1s ease;
}

.DModalContainer__close {
	@include mixins.clearButton;
	padding: var(--d-gap-m);
	position: absolute;
	top: var(--d-gap-s);
	right: var(--d-gap-s);
	color: var(--d-color-text-secondary);
	z-index: 10;
	transition: color .1s ease;

	&:hover {
		opacity: 1;
		color: var(--d-color-primary);
	}
}

.DModalContainer__error {
	position: relative;
	z-index: 2;
	border-radius: var(--d-radius-m);
	box-shadow: var(--d-shadow-simple);
}

.DModalContainer__loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	color: var(--d-color-light);
	opacity: 0;
}

.isContainerReady {
	.DModalContainer__overlay {
		background-color: rgba(var(--overlay-bg), .4);
	}

	.DModalContainer__loading {
		opacity: 1;
		transition: opacity .2s ease .2s;
	}
}

.isContainerReady.isComponentReady {
	.DModalContainer__main {
		opacity: 1;
	}
}
