@use '../DFormControl/DFormControl';
@use '../../assets/scss/utils/mixins';

.DFormTime {}

.DFormTime__area {
	display: flex;
	align-items: flex-start;
}

.DFormTime__list {
	overflow: auto;
	max-height: 200px;
}

.DFormTime__option {
	@include mixins.clearButton;
	display: block;
	min-height: var(--d-size-m);
	padding: var(--d-gap-m) var(--d-gap-l);
	transition: all .1s ease;

	&:hover {
		background-color: rgba(var(--d-color-primary-rgb), .05);
	}
}

.DFormTime__option.--selected {
	background-color: rgba(var(--d-color-plate-border-rgb), .5);
}
