<template>
	<DFormField v-bind="formFieldProps" control-styled>
		<template #label><slot name="label"></slot></template>
		<template #before><slot name="before"></slot></template>
		<template #innerBefore><slot name="innerBefore"></slot></template>
		<template #after><slot name="after"></slot></template>
		<template #caption><slot name="caption"></slot></template>

		<template #innerAfter>
			<div class="DFormControl__icon">
				<slot name="innerAfter">
					<d-icon name="clock"/>
				</slot>
			</div>
		</template>


		<d-form-mask
			:mask="maskTime"
			v-bind="currentAttrs"
			v-on="controlListeners"
			v-model="maskModel"
			v-dropdown:[uuid]="{closest: '.DFormField__area'}"
			@complete="onComplete"
			ref="control"
		/>

		<d-dropdown
			v-model="isOpen"
			:name="uuid"
			:manual="disabled"
			placement="bottom-start"
			save-inner-click
			save-anchor-click
		>
			<div class="DFormTime__area">
				<div
					class="DFormTime__list"
					v-scroll-bar.showOnHover.disableThumbHover
					v-for="key in ['hh', 'mm']"
					:key="`list_${key}`"
					:ref="`list_${key}`">
					<button
						class="DFormTime__option"
						:class="{'--selected': splitModel[key] === i}"
						v-for="i in options[key]"
						:key="`${key}_${i}`"
						@click="onClickItem(key, i)">
						{{ i }}
					</button>
				</div>
			</div>
		</d-dropdown>

	</DFormField>
</template>

<script>
import DFormControl from '../DFormControl/DFormControl';
import IMask from 'imask';

let createdCounter = 0;

export default {
	name: 'DFormTime',
	extends: DFormControl,
	props: {
		mGap: {
			type: [Number, String],
			default: 1,
		},
		hGap: {
			type: [Number, String],
			default: 1,
		},
		min: {
			type: String,
			default: '00:00',
		},
		max: {
			type: String,
			default: '23:59'
		}
	},
	components: {},
	data() {
		++createdCounter;
		return {
			isOpen: false,
			uuid: `DFormTime_${createdCounter}`,
			maskTime: {
				mask: '00:00',
			},
			maskModel: '',
			binding: {
				class: ['DFormControl', 'DFormTime', this.controlClass],
				style: this.controlStyle,
			}
		};
	},
	computed: {
		currentAttrs() {
			return Object.assign({}, this.controlAttrs, this.binding);
		},
		splitModel() {
			return this.splitTime(this.innerModel)
		},
		splitMin() {
			return this.splitTime(this.min)
		},
		splitMax() {
			return this.splitTime(this.max)
		},
		currentLimits() {
			return {
				hhLimits: {
					min: +this.splitMin.hh,
					max: +this.splitMax.hh,
				},
				mmLimits: {
					min: this.splitMin.hh === this.splitModel.hh ? +this.splitMin.mm : 0,
					max: this.splitMax.hh === this.splitModel.hh ? +this.splitMax.mm : 59,
				}
			}
		},
		options() {
			const {hhLimits, mmLimits} = this.currentLimits;
			const hh = this.createOptions(+this.hGap, hhLimits.min, hhLimits.max + 1);
			const mm = this.createOptions(+this.mGap, mmLimits.min, mmLimits.max + 1);
			return {hh, mm};
		},
		innerModel: {
			get() {
				return this.safeModel || '';
			},
			set(val) {
				if (val === this.innerModel) return
				this.tempModel = val;
				this.isErrorShow = false;
				this.$emit('modelChange', val);
			}
		},
	},
	methods: {
		createOptions(gap, from, to) {
			const value = to - from;
			const length = Math.ceil(value / gap);
			return Array.from({length}, (k, i) => `0${i * gap + (+from)}`.slice(-2));
		},

		onComplete() {
			this.$nextTick(() => {
				this.setModel(this.splitTime(this.maskModel));
				this.scrollToSelected('smooth');
			})
		},

		setModel({hh = null, mm = null} = {}) {
			const model = {
				hh: hh || this.splitModel.hh,
				mm: mm || this.splitModel.mm
			};
			if (!this.validateModel('hh', model)) {
				model.hh = this.$dUtils.getClosestValue(model.hh, this.options.hh);
			}
			if (!this.validateModel('mm', model)) {
				model.mm = this.$dUtils.getClosestValue(model.mm, this.options.mm);
			}
			if (this.splitModel.hh !== model.hh || this.splitModel.mm !== model.mm) {
				this.innerModel = `${model.hh}:${model.mm}`;
			}
		},

		scrollIntoView(el, scrollEl, topToTop, behavior) {
			const isHigher = el.offsetTop < scrollEl.scrollTop;
			const isLower = el.offsetTop + el.offsetHeight > scrollEl.offsetHeight + scrollEl.scrollTop;

			if (isHigher || topToTop) {
				this.scrollTo(scrollEl, el.offsetTop, behavior);
			} else if (isLower) {
				this.scrollTo(scrollEl, el.offsetTop - scrollEl.offsetHeight + el.offsetHeight, behavior);
			}
		},

		scrollTo(el, top, behavior = 'auto') {
			el.scrollTo({top, behavior});
		},

		scrollToSelected(behavior) {
			if (!this.isOpen) return;
			const hhList = this.$refs.list_hh[0];
			const mmList = this.$refs.list_mm[0];
			const hhSelected = hhList.querySelector('.--selected');
			const mmSelected = mmList.querySelector('.--selected');

			if (hhSelected) {
				this.scrollIntoView(hhSelected, hhList, true, behavior);
			}
			if (mmSelected) {
				this.scrollIntoView(mmSelected, mmList, true, behavior);
			}
		},

		validateModel(key, model) {
			const value = model[key];
			const options = this.options[key];
			return Boolean(value && options.includes(value));
		},

		onClickItem(key = 'hh', value = 0) {
			this.setModel({[key]: value});
			this.$nextTick(() => {
				this.scrollToSelected('smooth');
			});
		},

		splitTime(time) {
			const [hh = '', mm = ''] = time.split(':');
			return {hh, mm};
		}
	},
	directives: {},
	filters: {},
	watch: {
		isOpen(newVal) {
			if (!newVal) return;
			this.$nextTick(() => {
				this.scrollToSelected();
			});
		},
		min(newValue, oldValue) {
			if (newValue === oldValue) return;
			this.$nextTick(() => {
				this.setModel();
			})
		},
		max(newValue, oldValue) {
			if (newValue === oldValue) return;
			this.$nextTick(() => {
				this.setModel();
			})
		},
		innerModel(newValue, oldValue) {
			if (newValue === oldValue) return;
			this.maskModel = newValue;
		}
	},
	created() {
		this.maskModel = this.innerModel;
	},
	mounted() {},
};
</script>
