.DDummy {
	--width: 350px;
	text-align: center;
	color: var(--d-color-text-secondary);
}

.DDummy__pic {
	img,
	svg {
		width: 100px;
		height: 100px;
	}
}
.DDummy__title,
.DDummy__description,
.DDummy__content {
	max-width: var(--width);
	margin-right: auto;
	margin-left: auto;
}

.DDummy__title {
	margin-top: var(--d-gap-m);
	font-size: var(--d-font-size-l);
	font-weight: var(--d-font-weight-bold);
}

.DDummy__description {
	margin-top: var(--d-gap-m);
}

.DDummy__content {
	margin-top: var(--d-gap-m);
}
