<template functional>
	<div
		:class="[
			'DDummy',
			data.class,
			data.staticClass
			]"
	>
		<div class="DDummy__pic">
			<slot name="pic">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 511.728 511.728" height="512"
						 viewBox="0 0 511.728 511.728" width="512">
					<g>
						<path fill="currentColor"
									d="m471.124 467.525-54.982-54.642c14.961-21.65 23.739-47.884 23.739-76.133 0-11.142-1.369-22.22-4.069-32.926-1.013-4.017-5.091-6.455-9.106-5.438-4.016 1.013-6.451 5.09-5.438 9.106 2.398 9.508 3.614 19.352 3.614 29.258 0 65.755-53.495 119.25-119.25 119.25s-119.25-53.495-119.25-119.25 53.495-119.25 119.25-119.25c42.77 0 82.503 23.113 103.696 60.319 2.051 3.6 6.631 4.858 10.229 2.805 3.599-2.05 4.855-6.63 2.805-10.229-6.89-12.096-15.529-22.858-25.48-32.062v-101.833c-.006-1.974-.804-3.907-2.197-5.304l-129-129c-1.397-1.393-3.329-2.191-5.303-2.196h-220c-4.142 0-7.5 3.357-7.5 7.5v257.5c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-250h205v53c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-42.394l103.393 103.394h-103.394v-27c0-4.143-3.358-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v34.5c0 4.143 3.358 7.5 7.5 7.5h121.5v82.329c-22.089-15.236-48.601-23.829-76.25-23.829-35.533 0-67.881 13.882-91.92 36.5h-138.33c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h124.606c-9.968 12.698-17.7 27.231-22.598 43h-102.008c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h98.296c-1.502 8.025-2.296 16.296-2.296 24.75 0 6.19.431 12.28 1.246 18.25h-97.246c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h100.17c7.113 27.812 22.933 52.173 44.373 70h-172.043v-141c0-4.143-3.358-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v148.5c0 4.143 3.358 7.5 7.5 7.5h201.741c18.919 10.202 40.549 16 63.509 16 27.368 0 52.845-8.239 74.094-22.357l55.067 55.542c5.041 5.028 11.655 7.542 18.267 7.542 6.608 0 13.213-2.512 18.236-7.535 4.902-4.902 7.583-11.423 7.55-18.361-.033-6.953-2.787-13.467-7.721-18.306zm-78.848-27.528 14.889-14.889 10.639 10.574-14.967 14.967zm68.413 53.589c-4.208 4.208-11.073 4.2-15.273.01l-32.018-32.294 15.046-15.046 32.141 31.943c2.088 2.048 3.247 4.784 3.261 7.704.014 2.905-1.107 5.633-3.157 7.683z"/>
						<path fill="currentColor"
									d="m305.631 238.888c-41.463 0-78.567 26.263-92.331 65.352-3.67 10.425-5.532 21.363-5.532 32.511 0 53.962 43.901 97.862 97.862 97.862s97.862-43.9 97.862-97.862-43.899-97.863-97.861-97.863zm-78.182 70.334c1.373-3.9 3.03-7.642 4.925-11.222h97.507c3.86 0 7 3.141 7 7s-3.14 7-7 7h-103.344c.291-.93.588-1.858.912-2.778zm78.182 110.39c-27.698 0-52.248-13.675-67.302-34.612h19.552c4.142 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5h-28.125c-1.969-4.475-3.548-9.155-4.706-14h104.831c3.86 0 7 3.141 7 7s-3.14 7-7 7h-38c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h38c12.131 0 22-9.869 22-22s-9.869-22-22-22h-107.004c-.071-1.408-.108-2.825-.108-4.25 0-3.276.202-6.529.579-9.75h106.533c12.131 0 22-9.869 22-22s-9.869-22-22-22h-87.301c15.45-18.077 38.331-29.112 63.052-29.112 45.69 0 82.862 37.172 82.862 82.862s-37.172 82.862-82.863 82.862z"/>
						<path fill="currentColor"
									d="m75.381 196h82c4.142 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5h-82c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5z"/>
					</g>
				</svg>
			</slot>
		</div>
		<div class="DDummy__title" v-if="$slots.title || props.title">
			<slot name="title">{{ props.title }}</slot>
		</div>
		<div class="DDummy__description" v-if="$slots.description || props.description">
			<slot name="description">{{ props.description }}</slot>
		</div>
		<div class="DDummy__content" v-if="$slots.default">
			<slot/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DDummy',
	props: {
		title: {
			type: String,
			default: '',
		},
		description: {
			type: String,
			default: '',
		},
	},
};
</script>
