<template>
	<span class="DDropdownWrap" ref="wrap">
		<div
			class="_d_dr_ DDropdown"
			v-if="isShow || alwaysOn"
			:class="[{isActive}, targetClass]"
			ref="root">
			<slot/>
		</div>
	</span>
</template>

<script>
import {createPopper, dropdownCore} from './DDropdown-core';
import {checkBoolProp} from '../../helpers/createComponent';
import check from '../../helpers/check';

const typeBool = {
	type: Boolean,
	default: false,
};
export default {
	name: 'DDropdown',
	model: {
		prop: 'modelValue',
		event: 'modelChange',
	},
	props: {
		name: {
			type: String,
			default: '',
		},
		placement: {
			type: String,
			default: 'bottom',
			validator(value) {
				const currentVal = [
					'top',
					'top-start',
					'top-end',
					'bottom',
					'bottom-start',
					'bottom-end',
					'right',
					'right-start',
					'right-end',
					'left',
					'left-start',
					'left-end',
				];
				return currentVal.includes(value);
			},
		},
		modelValue: typeBool,
		manual: typeBool,
		alwaysOn: typeBool,
		saveInnerClick: typeBool,
		saveBodyClick: typeBool,
		saveAnchorClick: typeBool,
		saveOnScroll: typeBool,
		widthByAnchor: typeBool,
		offset: {
			default: () => ([0, 0]),
		},
		targetClass: {
			default: '',
		},
	},
	components: {},
	data() {
		return {
			popper: null,
			isActive: false,
			isShow: false,
			anchorEl: null,
			dropdownEl: null,
			dropdownWrap: null,
			anchorObserver: null,
			resizeObserver: null,
			_innerDropdownClickTrigger: false,
		};
	},
	computed: {},
	methods: {
		open() {
			this.isShow = true;
			this.$nextTick(() => {
				this.dropdownEl = this.$refs.root;
				this.dropdownWrap = this.$refs.wrap;
				this.moveToBody();
				this.initPopper();
				this.addBodyEventListener();
				this.initResizeObserver();
				this.isActive = true;
				this.$emit('modelChange', true);
				this.$emit('opened');
			});
		},

		onTransitionEnd() {
			if (!this.isShow || this.isActive) return;
			this.destroyPopper();
			this.removeBodyEventListener();
			this.destroyResizeObserver();
			this.moveToWrap();
			this.$nextTick(() => {
				this.isShow = false;
				this.dropdownEl = null;
				this.$emit('modelChange', false);
				this.$emit('closed');
			});
			this.dropdownEl.removeEventListener('transitionend', this.onTransitionEnd);
		},

		close() {
			if (!this.isActive) return;
			const style = window.getComputedStyle(this.dropdownEl);
			const duration = this.parseTime(style['transition-duration'])
			this.dropdownEl.addEventListener('transitionend', this.onTransitionEnd);
			this.isActive = false;
			setTimeout(this.onTransitionEnd, duration + 50);
		},

		parseTime(s) {
			return parseFloat(s) * (s.indexOf('ms') >- 1 ? 1 : 1000)
		},

		moveToBody() {
			document.body.appendChild(this.dropdownEl);
			this.dropdownEl.wrapLink = this.dropdownWrap;
		},

		moveToWrap() {
			if (!this.isShow) return;
			this.dropdownWrap.appendChild(this.dropdownEl);
		},

		addBodyEventListener() {
			// Клик на документе срабатывает при открытии
			this.$nextTick(() => {
				document.addEventListener('mousedown', this.onBodyDown, true);
				document.addEventListener('click', this.onBodyClick, true);
			});
		},

		removeBodyEventListener() {
			document.removeEventListener('mousedown', this.onBodyDown, true);
			document.removeEventListener('click', this.onBodyClick, true);
		},

		initResizeObserver() {
			if (!check.checkSupportedResizeObserver()) return;
			if (this.resizeObserver) this.resizeObserver.disconnect();
			this.resizeObserver = new ResizeObserver(this.onResize);
			this.resizeObserver.observe(this.anchorEl);
			this.resizeObserver.observe(this.dropdownEl);
		},

		destroyResizeObserver() {
			if (this.resizeObserver) {
				this.resizeObserver.disconnect();
			}
			this.resizeObserver = null;
		},

		initPopper() {
			if (!this.anchorEl || !this.dropdownEl) return;
			this.popper = createPopper(this.anchorEl, this.dropdownEl, {
				placement: this.placement,
				modifiers: [
					{
						name: 'offset',
						options: {
							offset: this.offset,
						},
					},
					{
						name: 'preventOverflow',
						options: {
							padding: 10,
						},
					},
					{
						name: 'hide',
						enabled: !checkBoolProp(this.saveOnScroll),
					},
					{
						name: 'widthByAnchor',
						enabled: checkBoolProp(this.widthByAnchor),
					}],
			});
		},

		destroyPopper() {
			if (!this.popper) return;
			this.popper.destroy();
			this.popper = null;
		},

		checkClickInnerAnchor(target) {
			return this.anchorEl.contains(target);
		},

		checkClickInnerDropdown(target) {
			const targetEl = target.closest('._d_dr_');
			if (!targetEl) return false;
			if (targetEl === this.dropdownEl) return true;
			const targetWrap = targetEl.wrapLink;
			return this.dropdownEl.contains(targetWrap);
		},

		onResize() {
			// Костыль, при однократном popper.update(), неверно позиционируется, если меняет позицию с bottom на top
			this.popper.forceUpdate();
			this.popper.update();
		},

		onBodyClick() {
			if (!this.saveInnerClick && this._innerDropdownClickTrigger) {
				this.close();
			}
			this._innerDropdownClickTrigger = false;
		},

		onBodyDown(event) {
			if (event._dropdownIgnode) return;
			const target = event.target;
			const isInnerAnchor = this.checkClickInnerAnchor(target);
			const isInnerDropdown = this.checkClickInnerDropdown(target);
			if (isInnerAnchor || this.saveBodyClick) return;
			if (isInnerDropdown) {
				this._innerDropdownClickTrigger = true;
			} else {
				this.close();
			}
		},

		onAnchorClick(evt) {
			if (evt._dropdownIgnode) return;
			const save = this.saveAnchorClick;
			if (!this.anchorEl || this.manual) return;
			this.isActive ? !save && this.close() : this.open();
		},

		onEventGlobal(evt) {
			if (evt.key !== 'Escape') return;
			this.close();
		},

		onAnchorInit(anchorEl) {
			this.anchorEl = anchorEl;
		},
	},
	directives: {},
	filters: {},
	watch: {
		modelValue(newValue, oldValue) {
			if (newValue === oldValue) return;
			if (newValue === this.isActive) return;
			newValue ? this.open() : this.close();
		},
	},
	async mounted() {
		dropdownCore.on(this.name, 'click', this.onAnchorClick);
		dropdownCore.initContainer(this.name, this.onAnchorInit);
		window.addEventListener('keydown', this.onEventGlobal);
		if (check.isIOs) {
			document.documentElement.classList.add('__fix-click-ios');
		}
	},
	beforeDestroy() {
		this.moveToWrap();
		this.destroyResizeObserver();
		dropdownCore.off(this.name);
		dropdownCore.destroyContainer(this.name);
		this.destroyPopper();
		window.removeEventListener('keydown', this.onEventGlobal);
	},
};
</script>
