.DDropdownWrap {
	position: absolute;
	pointer-events: none;
	visibility: hidden;
	display: none;
	transform: translate3d(0,0,0);
}

.DDropdown {
	display: block;
	position: absolute;
	z-index: 10000; // Для корректного отображения в попапах (возможно спорное решение)
	top: 0;
	left: 0;
	background-color: var(--d-color-light);
	box-shadow: var(--d-shadow-simple);
	border-radius: var(--d-radius-m);
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transform: translate3d(0,0,0);
	transition: opacity .1s ease;
	will-change: transform;
}

.DDropdown.isActive {
	opacity: 1;
	pointer-events: auto;
}
/*! purgecss start ignore */
.DDropdown[data-popper-reference-hidden] {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
/*! purgecss end ignore */
.__fix-click-ios {
	cursor: pointer;
}
