@use '../../assets/scss/utils/mixins';

.DMedia {
	display: inline-grid;
	grid-template-columns: auto minmax(0, 1fr);
	grid-template-areas: 'aside  main';
	//display: inline-flex;
	align-items: flex-start;
	justify-content: flex-start;
	vertical-align: middle;
	text-align: left;
	max-width: 100%;
}

.DMedia__aside {
	grid-area: aside;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
}

.DMedia__main {
	grid-area: main;
	flex-grow: 1;
	flex-shrink: 1;
	align-self: center;
}

.DMedia__aside.--top {
	align-self: flex-start;
}

.DMedia__aside.--center {
	align-self: center;
}

.DMedia__aside.--bottom {
	align-self: flex-end;
}

a.DMedia {
	@include mixins.clearLink;
	color: var(--d-color-text-main);
}

button.DMedia {
	@include mixins.clearButton;
	text-align: left;
}
a.DMedia,
button.DMedia {
	transition: all .1s ease;
	&:hover {
		opacity: .7;
	}
}
