<template>
	<div class="DNotice" :class="classList">
		<div class="DNotice__icon">
			<d-icon :name="iconName"/>
		</div>
		<div class="DNotice__body">{{content}}</div>
		<button class="DNotice__close" @click="$emit('close-toast')">
			<d-icon name="x"/>
			Close Notice
		</button>
	</div>
</template>

<script>
import {TYPE} from 'vue-toastification';

export default {
	name: 'DNotice',
	props: {
		content: {
			default: '',
		},
		type: {
			default: TYPE.INFO
		}
	},
	components: {},
	data() {
		return {};
	},
	computed: {
		classList() {
			switch (this.type) {
				case TYPE.SUCCESS:
					return '--success'
				case TYPE.WARNING:
					return '--warning'
				case TYPE.ERROR:
					return '--error'
				default:
					return '--info'
			}
		},
		iconName() {
			switch (this.type) {
				case TYPE.INFO:
					return 'alert-circle'
				case TYPE.SUCCESS:
					return 'check-circle'
				case TYPE.WARNING:
					return 'alert-triangle'
				case TYPE.ERROR:
					return 'alert-triangle'
				default:
					return 'alert-circle'
			}
		}
	},
	methods: {},
	directives: {},
	filters: {},
	watch: {},
	mounted() {},
};
</script>
