@use '~vue-toastification/src/scss';
@use '../../assets/scss/utils/mixins';

@keyframes scale-x-frames {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
.Vue-Toastification__container.bottom-left {
	left: 1rem;
	right: 1rem;
	width: calc(100vw - 2rem);
}

.Vue-Toastification__toast {
	display: inline-flex;
	justify-content: space-between;
	position: relative;
	max-width: 380px;
	min-width: 300px;
	max-height: 800px;
	min-height: 0;
	margin-bottom: 1rem;
	padding: 0;
	background-color: transparent;
	border-radius: var(--d-radius-m);
	box-shadow: var(--d-shadow-simple);
	font-size: var(--d-font-size-m);
	font-family: inherit;
	transform: translateZ(0);
	overflow: hidden;
	pointer-events: auto;
}

.Vue-Toastification__progress-bar {
	transform-origin: right;
	animation: scale-x-frames linear 1 forwards;
}


.DNotice {
	--color: var(--d-color-dark-rgb);
	--padding-x: var(--d-gap-xl);
	--padding-y: var(--d-gap-l);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 66px;
	background-color: rgba(var(--color), .08);
	color: rgba(var(--color), 1);
	padding: 10px 40px 10px 16px;
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--d-color-light);
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: rgba(var(--color), 1);
	}
}

.DNotice__icon {
	flex-shrink: 0;
	flex-grow: 0;
	padding-right: 16px;
}

.DNotice__body {
	flex-shrink: 1;
	flex-grow: 1;
	white-space: pre-wrap;
}

.DNotice__close {
	@include mixins.clearButton;
	position: absolute;
	top: 0;
	right: 0;
	flex-shrink: 0;
	flex-grow: 0;
	font-size: 0;
	padding: 8px;
	transition: all .1s ease;
	&:hover {
		opacity: .6;
	}
}

.DNotice.--info {
	--color: var(--d-color-primary-rgb);
}

.DNotice.--success {
	--color: var(--d-color-success-rgb);
}

.DNotice.--warning {
	--color: var(--d-color-accent-rgb);
}

.DNotice.--error {
	--color: var(--d-color-danger-rgb);
}

@include mixins.media(from, s) {
	.Vue-Toastification__toast {
		min-width: 100%;
	}
}
