@use './../utils/mixins';
@use './../variables';

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-inline {
	display: inline;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.d-table {
	display: table;
}

.d-table-cell {
	display: table-cell;
}

.d-table-row {
	display: table-row;
}

.d-hidden {
	display: none !important;
}

.dib-baseline {
	display: inline-block;
	vertical-align: baseline;
}

.dib-top {
	display: inline-block;
	vertical-align: top;
}

.dib-middle {
	display: inline-block;
	vertical-align: middle;
}

.dib-bottom {
	display: inline-block;
	vertical-align: bottom;
}

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		.#{$media}\:d-block {
			display: block;
		}
		.#{$media}\:d-inline-block {
			display: inline-block;
		}
		.#{$media}\:d-inline {
			display: inline;
		}
		.#{$media}\:d-flex {
			display: flex;
		}
		.#{$media}\:d-inline-flex {
			display: inline-flex;
		}
		.#{$media}\:d-table {
			display: table;
		}
		.#{$media}\:d-table-cell {
			display: table-cell;
		}
		.#{$media}\:d-table-row {
			display: table-row;
		}
		.#{$media}\:stealth {
			display: block;
			position: absolute;
			opacity: 0;
			width: 1px;
			height: 1px;
			pointer-events: none;
		}
		.#{$media}\:d-hidden {
			display: none !important;
		}
	}
}
