@use './../utils/mixins';
@use './../variables';

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-col {
	flex-direction: column;
}

.flex-col-reverse {
	flex-direction: column-reverse;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.align-stretch {
	align-items: stretch;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.align-baseline {
	align-items: baseline;
}

.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-center {
	align-self: center;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-stretch {
	align-self: stretch;
}

.content-start {
	align-content: flex-start;
}

.content-center {
	align-content: center;
}

.content-end {
	align-content: flex-end;
}

.content-between {
	align-content: space-between;
}

.content-around {
	align-content: space-around;
}

.flex-grow {
	flex-grow: 1;
}

.flex-grow-0 {
	flex-grow: 0;
}

.flex-shrink {
	flex-shrink: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.order-first {
	order: -9999;
}

.order-last {
	order: 9999;
}

.order-none {
	order: 0;
}

@for $i from 0 through 10 {
	.order-#{$i} {
		order: $i;
	}
}

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		.#{$media}\:flex-row {
			flex-direction: row;
		}
		.#{$media}\:flex-row-reverse {
			flex-direction: row-reverse;
		}
		.#{$media}\:flex-col {
			flex-direction: column;
		}
		.#{$media}\:flex-col-reverse {
			flex-direction: column-reverse;
		}

		.#{$media}\:flex-no-wrap {
			flex-wrap: nowrap;
		}
		.#{$media}\:flex-wrap {
			flex-wrap: wrap;
		}
		.#{$media}\:flex-wrap-reverse {
			flex-wrap: wrap-reverse;
		}

		.#{$media}\:justify-start {
			justify-content: flex-start;
		}
		.#{$media}\:justify-center {
			justify-content: center;
		}
		.#{$media}\:justify-end {
			justify-content: flex-end;
		}
		.#{$media}\:justify-between {
			justify-content: space-between;
		}
		.#{$media}\:justify-around {
			justify-content: space-around;
		}

		.#{$media}\:align-stretch {
			align-items: stretch;
		}
		.#{$media}\:align-start {
			align-items: flex-start;
		}
		.#{$media}\:align-center {
			align-items: center;
		}
		.#{$media}\:align-end {
			align-items: flex-end;
		}
		.#{$media}\:align-baseline {
			align-items: baseline;
		}

		.#{$media}\:content-start {
			align-content: flex-start;
		}
		.#{$media}\:content-center {
			align-content: center;
		}
		.#{$media}\:content-end {
			align-content: flex-end;
		}
		.#{$media}\:content-between {
			align-content: space-between;
		}
		.#{$media}\:content-around {
			align-content: space-around;
		}

		.#{$media}\:align-self-auto {
			align-self: auto;
		}
		.#{$media}\:align-self-start {
			align-self: flex-start;
		}
		.#{$media}\:align-self-center {
			align-self: center;
		}
		.#{$media}\:align-self-end {
			align-self: flex-end;
		}
		.#{$media}\:align-self-stretch {
			align-self: stretch;
		}

		.#{$media}\:flex-grow {
			flex-grow: 1;
		}
		.#{$media}\:flex-grow-0 {
			flex-grow: 0;
		}

		.#{$media}\:flex-shrink {
			flex-shrink: 1;
		}
		.#{$media}\:flex-shrink-0 {
			flex-shrink: 0;
		}

		.#{$media}\:order-first {
			order: -9999;
		}
		.#{$media}\:order-last {
			order: 9999;
		}
		.#{$media}\:order-none {
			order: 0;
		}
		@for $i from 0 through 10 {
			.#{$media}\:order-#{$i} {
				order: $i;
			}
		}
	}
}
