@use './../utils/mixins';
@use './../variables';

.static {
	position: static;
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.sticky {
	position: sticky;
}

.top-auto {
	top: auto;
}

.bottom-auto {
	bottom: auto;
}

.left-auto {
	left: auto;
}

.right-auto {
	right: auto;
}

@for $index from 0 through 100 {
	$value: $index;
	.top-#{$value} {
		top: $value*1%;
	}
	.bottom-#{$value} {
		bottom: $value*1%;
	}
	.left-#{$value} {
		left: $value*1%;
	}
	.right-#{$value} {
		right: $value*1%;
	}
}

@for $index from 0 through 10 {
	$value: $index;
	.z-#{$value} {
		z-index: $value;
	}
}

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		.#{$media}\:static {
			position: static;
		}
		.#{$media}\:fixed {
			position: fixed;
		}
		.#{$media}\:absolute {
			position: absolute;
		}
		.#{$media}\:relative {
			position: relative;
		}
		.#{$media}\:sticky {
			position: sticky;
		}

		.#{$media}\:top-auto {
			top: auto;
		}
		.#{$media}\:bottom-auto {
			bottom: auto;
		}
		.#{$media}\:left-auto {
			left: auto;
		}
		.#{$media}\:right-auto {
			right: auto;
		}

		@for $index from 0 through 10 {
			$value: $index;
			.#{$media}\:z-#{$value} {
				z-index: $value;
			}
		}
	}
}
