@use './../utils/mixins';
@use './../variables';

// w-10p
// xs:w-10p

.w-auto {
	width: auto;
}
.w-screen {
	width: 100vw;
}
.w-full {
	width: 100%;
}
.w-0 {
	width: 0;
}
.w-1px {
	width: 1px;
}
.mw-full {
	max-width: 100%;
}
.h-auto {
	height: auto;
}
.h-screen {
	height: 100vw;
}
.h-full {
	height: 100%;
}
.h-0 {
	height: 0;
}
.h-1px {
	height: 1px;
}
.mh-full {
	min-height: 100%;
}

@for $index from 1 through 10 {
	$value: $index * 10;
	.w-#{$value}p {
		width: $value * 1%;
	}
}

// [media]:w-[size]
@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		.#{$media}\:w-auto {
			width: auto;
		}
		.#{$media}\:w-screen {
			width: 100vw;
		}
		.#{$media}\:w-full {
			width: 100%;
		}
		.#{$media}\:w-0 {
			width: 0;
		}
		.#{$media}\:w-1px {
			width: 1px;
		}
		//w-[size]p
		@for $index from 1 through 10 {
			$value: $index * 10;
			.#{$media}\:w-#{$value}p {
				width: $value * 1%;
			}
		}
	}
}
