@use './../utils/mixins';
@use './../variables';
// generate padding, margin

$direction: (
	'': (''),
	x: (
		'-left',
		'-right',
	),
	y: (
		'-top',
		'-bottom',
	),
	t: ('-top'),
	r: ('-right'),
	b: ('-bottom'),
	l: ('-left'),
);

$type: (
	m: margin,
	p: padding,
);

@mixin generateSet($media: false) {
	// Если $media передан то префикс будет === media + '\:', если нет то пустая строка
	// js Аналог: const _media = media ? media + '\:' : '';
	$_media: $media and $media + \: or '';

	@each $typeKey, $typeVal in $type {
		@each $dirKey, $dirVal in $direction {
			@each $gap, $val in variables.$gaps {
				.#{$_media}#{$typeKey}#{$dirKey}-#{$gap} {
					@each $val in $dirVal {
						#{$typeVal}#{$val}: var(--d-gap-#{$gap});
					}
				}
				@if ($typeKey == m) {
					.-#{$_media}#{$typeKey}#{$dirKey}-#{$gap} {
						@each $val in $dirVal {
							#{$typeVal}#{$val}: calc(-1 * var(--d-gap-#{$gap}));
						}
					}
				}
			}
		}
	}
}

@mixin generateAuto($media: false) {
	$_media: $media and $media + \: or '';
	@each $dirKey, $dirVal in $direction {
		.#{$_media}m#{$dirKey}-a {
			@each $val in $dirVal {
				margin#{$val}: auto;
			}
		}
	}
}

@include generateSet();
@include generateAuto();

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		@include generateSet($media);
		@include generateAuto($media);
	}
}
