@use './../utils/mixins';
@use './../variables';
// generate transform
$type: (
	x: 'translateX',
	y: 'translateY',
);

@mixin generateSet($gap: false, $media: false) {
	// var _media = media ? media + '\:' : '';
	// Если $media передан то префикс будет === media + '\:', если нет то пустая строка
	$_media: $media and $media + \: or '';
	$isGap: map-has-key(variables.$gaps, $gap);
	$_propValue: $isGap and var(--d-gap-#{$gap}) or ($gap + 'px');
	$_propValueN: $isGap and (calc(-1 * var(--d-gap-#{$gap}))) or (-$gap + 'px');

	@each $typeKey, $typeVal in $type {
		.#{$_media}t#{$typeKey}-#{$gap} {
			transform: #{$typeVal+'(#{$_propValue})'};
		}
		.-#{$_media}t#{$typeKey}-#{$gap} {
			transform: #{$typeVal+'(#{$_propValueN})'};
		}
	}
}

@for $index from 1 through 5{
	@include generateSet($index);
}

@each $gap, $val in variables.$gaps {
	@include generateSet($gap);
}

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		@for $index from 1 through 5{
			@include generateSet($index, $media);
		}
	}
}

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		@each $gap, $val in variables.$gaps {
			@include generateSet($gap, $media);
		}
	}
}
