@use './../utils/mixins';
@use './../variables';

.fz-0.fz-0 {
	font-size: 0;
}

@for $index from 5 through 60 {
	.fz-#{$index} {
		font-size: ($index)+px;
	}
}

@for $index from 2 through 7 {
	.fw-#{$index}00 {
		font-weight: $index*100;
	}
}

// generate line-height
@for $index from 0 to 10 {
	$value: .1 * $index;
	$selector: '1' + if($index == 0, '', ('\\.' + $index));
	.lh-#{$selector} {
		line-height: 1 + $value !important;
	}
}

.lh-2 {
	line-height: 2 !important;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.align-baseline {
	vertical-align: baseline;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-bottom {
	vertical-align: bottom;
}

.ws-normal {
	white-space: normal;
}
.ws-no-wrap {
	white-space: nowrap;
}
.ws-pre {
	white-space: pre;
}
.ws-pre-line {
	white-space: pre-line;
}
.ws-pre-wrap {
	white-space: pre-wrap;
}

.wb-all {
	word-break: break-all;
}
.wb-break-word {
	word-break: break-all;
}

.text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

@each $media, $val in variables.$breakpoints {
	@include mixins.media($media) {
		//\:#{$media}
		.#{$media}\:fz-0 {
			font-size: 0;
		}
		@for $index from 5 through 60 {
			.#{$media}\:fz-#{$index} {
				font-size: ($index)+px;
			}
		}

		@for $index from 2 through 7 {
			.#{$media}\:fw-#{$index}00 {
				font-weight: $index*100;
			}
		}

		// generate line-height
		@for $index from 0 to 10 {
			$value: .1 * $index;
			$selector: '1' + if($index == 0, '', ('\\.' + $index));
			.#{$media}\:lh-#{$selector} {
				line-height: 1 + $value !important;
			}
		}

		.#{$media}\:lh-2 {
			line-height: 2 !important;
		}

		.#{$media}\:text-left {
			text-align: left;
		}
		.#{$media}\:text-center {
			text-align: center;
		}
		.#{$media}\:text-right {
			text-align: right;
		}
		.#{$media}\:text-justify {
			text-align: justify;
		}

		.#{$media}\:text-white {
			color: white;
		}
		.#{$media}\:text-black {
			color: black;
		}

		.#{$media}\:align-baseline {
			vertical-align: baseline;
		}
		.#{$media}\:align-top {
			vertical-align: top;
		}
		.#{$media}\:align-middle {
			vertical-align: middle;
		}
		.#{$media}\:align-bottom {
			vertical-align: bottom;
		}

		.#{$media}\:ws-normal {
			white-space: normal;
		}
		.#{$media}\:ws-no-wrap {
			white-space: nowrap;
		}
		.#{$media}\:ws-pre {
			white-space: pre;
		}
		.#{$media}\:ws-pre-line {
			white-space: pre-line;
		}
		.#{$media}\:ws-pre-wrap {
			white-space: pre-wrap;
		}
	}
}
